[2019-06-06 12:35] alexnuttinck opened #1 "Add to Helm Hub"
https://github.com/helm/hub

[2019-06-21 14:49] alexnuttinck commented on #1
Done:
* https://github.com/helm/hub/pull/108
* https://hub.helm.sh/charts?q=cetic

[2019-06-21 14:49] #1 closed

[2019-07-02 19:18] yianni opened #2 "Cluster not detecting zookeeper"
Run the helm script.
Create a ListSFTP processor
Run the processor

This error occurs:
[code]

[2019-07-04 10:06] alexnuttinck commented on #2
Hello @yianni, Thanks for the report. I know there are still some works to do on this Chart. I will look at this in the next days.

[2019-07-08 13:37] alexnuttinck commented on #2
I have made some modifications on the Helm chart. Could you retry with the last version?

If this error still occurs, did you change something in the `values.yaml` file?

[2019-07-09 13:54] yianni commented on #2
@alexnuttinck The modifications fixed the issue. Great job!

[2019-07-09 14:26] alexnuttinck commented on #2
Thanks @yianni! I close this issue.

[2019-07-09 14:26] #2 closed

[2019-07-31 08:01] mholleville opened #4 "Cannot redirect server logs to sdout"
Hi thank you for your great helm !

I'm trying to redirect all log in server stdout. Is is possible with your helm ?

I'm trying to modify logback.xml but doesn't work

[2019-07-31 14:48] devopsdymyr commented on #4
i have same issue.anyone can address on this issue

[2019-08-02 07:10] banzo commented on #4
Integration with log management solutions (ex: [ELK](https://www.elastic.co/)) is on the short term roadmap, we will look into it at that point.

[2019-08-06 08:04] banzo opened #5 "Ability to include additional libraries in the Nifi containers"
Database processors need database drivers libraries in the Nifi containers.

The current hack is:

[code]

It would be nice to be able to specify a list of libraries that would be downloaded and put in `nifi_home/lib` as an additional option.

[2019-08-07 13:25] ebcFlagman opened #7 "Ingress toute to headless service instead of LoadBalancer"
I've the following configuration:
`persistence:
  enabled: true
  storageClass: managed-azuredisk-standard-lrs
service:
  loadBalancer:
    enabled: false
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
  path: /nifi/(.*)
  hosts:
    - foo.bar
  tls:
    - secretName: tls-secret
      hosts:
        - foo.bar
z

[2019-08-07 13:39] alexnuttinck commented on #7
Hello @ebcFlagman,
By enabling the LoadBalancer like this, it should work:

[code]

I know it is not really intuitive and it should be rework.

[2019-08-07 13:44] ebcFlagman commented on #7
Thx, I've done it like that and it worked for me

[2019-08-07 13:44] #7 closed

[2019-08-07 14:00] alexnuttinck commented on #5
Sure, it would be nice.

Another solution is to create and publish a new Docker image from apache/nifi with these librairies. Than, you can use this image in the Helm Chart. Adding preloaded workflow would be nice too!

I will look how it can be achieved with helm.

[2019-08-13 13:41] ppiotrow opened #8 "Not able to deploy"
Hi, I'm not able to deploy in on internal Kubernetes cluster. Do you know what could be a problem?
[code]

[2019-08-13 14:03] banzo opened #9 "Add issue/feature request templates"
see https://github.com/helm/charts/issues/new/choose

[2019-08-19 08:26] alexnuttinck commented on #8
Hi @ppiotrow,
Cloud you **Describe the bug** a bit more?
* Which version of Helm and Kubernetes do you use?
* How to reproduce it? (as minimally and precisely as possible) Do you change the default values file?
* Anything else we need to know?

Also did you wait enough time? It takes 1 or 2 minutes for the Readness probe to succeed.

[2019-08-19 08:29] alexnuttinck commented on #9
Done.

[2019-08-19 08:29] #9 closed

[2019-08-24 13:08] jayunit100 opened #10 "No storage class seems to exist in the PVC"
**Describe the bug**

No storage class seems to exist in the PVC

**Version of Helm and Kubernetes**:

[code]
**What happened**:

Looks like my PVCs are created but they dont define a StorageClass.  I assume thats not intentional ?
[code]

**What you expected to happen**:

My PVC would have an explicit storageClassName, that i could fulfill.

**How to reproduce it** (as minimally and precisely as

[2019-08-25 18:49] JHC88 opened #11 "Problem with upgrade"
[code]
I have some troubles when I try to do upgrade like this:
[code]
I get the following error:
[code]

But, if I run:
[code]
I get this message:
[code]
Can you help me and point me where is my mistake? Thank for advance!

P.S. If I do helm ```delete --purge helm-nifi``` and do ``` helm install cetic/nifi -f values.yaml --namespace $NAMESPACE --name $RELEASE_NAME``` - all is ok.

[2019-08-27 08:15] alexnuttinck commented on #5
I propose to use a postStart as explained here: https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

We will have something like:

[code]

If you have a better idea, don't hesitate.

[2019-08-27 09:30] LeeByungwoo commented on #5
I'm having the same issue

https://github.com/compose-ex/nifi-compose-bundle

How do I solve this which should not be the above method?

[2019-08-27 09:58] alexnuttinck commented on #5
The feature is present in Chart v0.1.6 now.

@LeeByungwoo I think you should publish your artefact, then you can make a `wget` in the folder you want. See the `postStart` from [values.yaml](https://github.com/cetic/helm-nifi/blob/master/values.yaml) for an example.

I close this issue, but don't hesitate to open a new one.

[2019-08-27 09:58] #5 closed

[2019-08-27 10:25] terence-bigtt commented on #5
How about a file deposit like container a  volume shared with the nifi pod?

For adding jdbc like libs this is the recommanded way, namely to put the
jar somewhere accessible and to point the nifi component to the lib.

Le mar. 27 août 2019 à 10:15, Alexandre Nuttinck <notifications@github.com>
a écrit :

[2019-08-27 11:18] alexnuttinck commented on #5
@terence-bigtt yes, we could have an extra volumeMount to give the possibility to create other volume mounts , something like this:

[code]

for the values.yaml
[code]

[2019-08-27 14:44] tylux opened #12 "Question about scaling"
In the README there is mention that replicaCount > 1 is unstable, what does `unstable` mean and are there plans to fix it?

[2019-08-27 15:17] alexnuttinck commented on #11
Hello @JHC88,

Is it possible that your first installation failed and then you tried to make an upgrade? As explained in https://github.com/helm/helm/issues/3353

I can't reproduce the error.

[2019-08-28 08:50] JHC88 commented on #11
Great Thank! This info helped to me!

[2019-08-28 08:50] #11 closed

[2019-09-09 06:38] lhb008 commented on #12
I have tried when replicaCount > 1, but cluster failed to start. I have the same question with @tylux ,is there any plans to fix this or give some guidence.

[2019-09-09 09:10] alexnuttinck commented on #12
repreplicaCount > 1 is now fixed, thanks to @lhb008, #13. I close this issue.

[2019-09-09 09:10] #12 closed

[2019-09-09 12:01] alexnuttinck commented on #8
As no answer, I close this issue. @ppiotrow feel free to reopen if you have more details to provide.

[2019-09-09 12:01] #8 closed

[2019-09-16 08:00] alexnuttinck commented on #10
Hello @jayunit100, thanks for the report, I will look into it in the next days.

[2019-09-28 09:33] mjschmidt commented on #10
If no storage class is selected kubernetes default is to pick whatever the default storage class is. If no default storage class is set, it will pick default. So there is probably nothing providing kubernetes storage? How did you deploy kubernetes? Was it minikube or something else?

[2019-09-28 09:35] mjschmidt commented on #10
What is the output of
'kubectl get storageclass'
'kubectl get pv'
'kubectl get pvc'

[2019-10-03 18:01] spencerdcarlson opened #15 "cetic/helm-nifi apache/nifi docker environment variables"
**Is your feature request related to a problem? Please describe.**
I am trying to pass in environment variables that the parent [apache/nifi](https://hub.docker.com/r/apache/nifi/) docker image supports, but seem to be disregarded by helm. Specifically `NIFI_VARIABLE_REGISTRY_PROPERTIES` which sets the value of the `nifi.variable.registry.properties=` property in the `/opt/nifi/nifi-current/conf/n

[2019-10-11 10:02] pinkdevelops opened #16 "cetic/helm-nifi NodePort Service spec.clusterIP cannot be "None""
When trying to run cetic/helm-nifi locally (using Docker for Mac, and the integrated Kubernetes), if you change the service to be NodePort instead of ClusterIP, Helm throws and error when trying to install:

`work-mbp-2:nifi-resources devin$ helm install --values nifi-values.yaml cetic-nifi cetic/nifi --namespace nifi-test
Error: Service "cetic-nifi-headless" is invalid: spec.clusterIP: Invalid va

[2019-10-11 11:56] alexnuttinck commented on #16
Hello @pinkdevelops,

You can setup the `values.yaml` to use NodePort, like this:

[code]

I know this is a bit unintuitive and should be rework.
I will create a issue for that.

[2019-10-11 12:03] pinkdevelops commented on #16
Thanks @alexnuttinck , confirmed that this works!

[2019-10-11 12:05] alexnuttinck opened #17 "[cetic/nifi] correct the unintuitive Service"
**Is your feature request related to a problem? Please describe.**

The current values.yaml is unintuitive to setup the service part. (#7 , #16)

**Describe the solution you'd like**

Refactor the Service part: maybe rename the `loadbalancer` into `ui` and add some comments into the `values.yaml`

[2019-10-11 12:07] #16 closed

[2019-10-11 12:12] alexnuttinck commented on #17
The [README.md](https://github.com/cetic/helm-nifi#configure-the-chart) should be rework too.

[2019-10-14 14:43] mvesi-effilab opened #18 "Unable to host with OAuth and if https enabled crashing loop back occurs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-15 14:00] alexnuttinck opened #19 "[cetic/nifi] migrate to kub1.16 with backward compatibility"
In k8s v1.16 some APIs are deprecated and removed.
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

As a result, installation failed. We need to migrate to use supported API versions.

[2019-10-15 14:06] alexnuttinck commented on #18
@mvesi-effilab please, describe your bug.
* Can you give a clear and concise description of what the bug is?
* Version of Helm and Kubernetes?
* What happened?
* What you expected to happen
* How to reproduce it (as minimally and precisely as possible)?
* Anything else we need to know...

[2019-10-15 14:07] alexnuttinck commented on #18
Your `values.yaml`would be useful too.

[2019-10-16 08:17] alexnuttinck commented on #19
fix tentative in 0.2.1, need to make additional tests.

[2019-10-17 21:39] ibnsinha opened #20 "cetic/chart:The charts directory is not available"
I cloned this got repo and added some environmental properties in values.yaml file. But I don't see any charts directory:
helm install --name my-release helm-nifi/
Error: found in requirements.yaml, but missing in charts/ directory: zookeeper

**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**: helm: v2.13.0,  K8s: v1.14.3

**Which chart**:

[2019-10-18 08:08] alexnuttinck commented on #20
Hello @ibnsinha,

You can deploy the Helm chart by typing these commands:

[code]

If you want to clone the repo locally, the process is a bit different. Please, look at the [documentation](https://helm.sh/docs/developing_charts/#managing-dependencies-with-requirements-yaml).

[code]

[2019-10-18 09:40] mvesi-effilab commented on #18
HiAlex,

My expectation to enable https and make OAUTH authentication and run in Kubernetes cluster mode. Your helm chart working fine for http mode with out OAUTH. But what are changes need to be done to fix https and OAUTH. As I am new to this I couldn't fix it. Your help is greatly appreciated.

[2019-10-18 19:24] jpmolinamatute commented on #4
Hey @mholleville

I modified the conf/logback.xml file successfully to print everything to stdout
[code]

[2019-10-21 21:23] #20 closed

[2019-10-21 21:25] ibnsinha commented on #20
Thanks @alexnuttinck. I was able to deploy successfully

[2019-11-12 18:01] enyachoke commented on #18
Hi think am also facing a similar issue. I need to setup nifi with OpenID Connect since the cluster already uses dex for authentication. The problem is nifi does not allow any form of authentication without https which means to setup a key store and activate ssl. My though was that setting this
[code]
will allow me to get around the issue since am terminating my ssl on ELB.

What I would like is a

[2019-11-12 18:43] jody-devops commented on #18
I am also having issues setting up LDAP authentication.  It appears to be failing since keystore/truststore configurations aren't set.  I made an assumption that the nifi-toolkit was being used to generate certificates and the nifi.properties keys for nifi.security.* would be set appropriately.  Here are the values I have configured.  Any assistance would be greatly appreciated!

[code]

[2019-11-12 21:07] enyachoke commented on #18
@jody-devops @alexnuttinck  I have just worked on the sample yaml below to better explain my point. It runs an initContainer which mounts a pvc at /opt/certs downloads the nifi-toolkit generates the  keystore/truststore and moves them to /opt/certs. The nifi container then mounts the same volume and you could expect the files to available in the pod. @jody-devops It 12 here so I will try make this

[2019-11-13 06:09] enyachoke commented on #18
My new statefulset.yaml
[code]

[2019-11-13 10:03] vikashsingh009 opened #21 "after changes made in nifi when container restart all data loss"
Hi ,
I  have  used  above  charts for  deploying  on  azure  aks ,i  have  enabled persistance .after  that  i  have  created  some  processor  in  nifi  and  killed  and  restart pods ...
when  nifi  get  up i  have lossed all  Processor  which  i  have  created earlier  .
![image](https://user-images.githubusercontent.com/7962189/68753145-84862b80-062a-11ea-97e4-6f0af032631b.png)

i  have  follo

[2019-11-13 10:24] vikashsingh009 commented on #21
I having Azure Kubernate  Service of  1  node ,i  have chnaged values.yml  persistence:
  enabled: true  ,then hit  this  command
helm install --wait .  after  that  3  instance  of  zookeeper  and  1 instance  of apache  nifi running  ..
I  have  access  nifi  gui  using  LoadBalncer  IP and  dropped 1  Proceesor to  check  Persistance  working ..

after  that i  have  Killed  Helm  chart  with
h

[2019-11-13 11:10] vikashsingh009 commented on #21
How  to  use  existingClaim for  Persitance ,each  time when  Pods  restarting it  gives  diffrent  storage so  after  terminate i  lost  my  changes

[2019-11-13 13:24] RabbidDog opened #22 "[cetic/helm-nifi] ingress path other than / doesn't work"
**Describe the bug**
the application UI should be accessible though the custom ingress path

**Version of Helm and Kubernetes**:
helm: v2.14.3
kubernetes: v1.15.1

**What happened**:
the chart allows us to set the ingress.path variable. I would like to host the application at a path other than '/'. for e.g. at '/demo-nifi'. So I expected that setting ingress.path: '/demo-nifi' would work without a

[2019-11-13 13:24] jody-devops commented on #18
@enyachoke Thanks for posting your solution.  I'm still new to Kub/Docker but will try to grok what you've posted.  One thought, it may be easier for the install image to also be nifi since that will ensure the correct version of nifi-toolkit is available without reliance on apt installs and wget that assumes the internet accessible.

[2019-11-13 17:31] enyachoke commented on #18
@jody-devops  not sure it contains the toolkit but will check. Also this is not tested just an example. Am trying to work on a PR

[2019-11-14 04:16] vikashsingh009 commented on #21
@banzo can  you  please  guide  how  to make Persistance  PVC to  create  only  once not  every  time whenever  Pods terminate  and  create so  that data  will  not  lose

[2019-11-14 09:35] vikashsingh009 commented on #21
I  have  also  tried  below  steps
1)  created pvc  manual in  azure
2) changed statfull set  file like  this
        volumeMounts:
        - name: logs
          mountPath: /var/log
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: data
      - name: flowfile-repository
        persistentVolumeClaim:
          claimName: flowfile-repository
      - name: conten

[2019-11-14 12:48] octopyth opened #23 "[cetic/chart] Error: found in requirements.yaml, but missing in charts/ directory: zookeeper"
**Describe the bug**
I am attempting to first download the nifi chart and helm install it using the vlues.yaml file:
git clone https://github.com/helm/charts
git clone https://github.com/cetic/helm-nifi
helm install --name nifi --namespace nifi -f helm-nifi/values.yaml helm-nifi
Error: found in requirements.yaml, but missing in charts/ directory: zookeeper

**Version of Helm and Kubernetes**:
irre

[2019-11-14 13:16] vikashsingh009 commented on #23
you   need to first add/update helm  dependency then  only  helm install  command  will  work
helm dependency update https://kubernetes-charts-incubator.storage.googleapis.com

[2019-11-14 13:23] alexnuttinck commented on #23
@octopyth See my answer here: #20

[2019-11-14 13:59] octopyth commented on #23
Thanks, for the prompt response. I have created a PR as other helm newbies like me seem to also be struggling with this. Thanks for the great work!

[2019-11-14 13:59] #23 closed

[2019-11-14 15:58] octopyth commented on #21
Hi @vikashsingh009 , I am also running the helm chart in Azure, I managed to test the viability of the persistency by only changing values.yaml:
`persistence:
   enabled: true`
After you start for the first time and create a sample processor, use the following code to restart the containers:
`kubectl delete pod nifi-0 -n nifi`
I believe the reason you lose your pvc is because you delete the helm c

[2019-11-14 17:57] octopyth commented on #18
@enyachoke thanks for working on this, I have been struggling with the implementation of the nifi security. I have tried to limit the IPs who have access. I used loadBalancerSourceRanges in values.yaml, but for some reason it didn't work (about to open a separate bug for that). I am fully committed to help and update the readme.md once I get the security sorted, but so far it looks like a dead-end

[2019-11-14 18:17] octopyth opened #25 "[cetic/helm-nifi] loadBalancerSourceRanges setting not working in values.yaml"
**Describe the bug**
Attempting to secure the node by limiting the IPs that have access to it, I updated values.yaml and set loadBalancerSourceRanges to include only one IP but it looks the setting just didn't work.

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}
Server: &version.Version{Sem

[2019-11-15 04:19] jdesroch commented on #15
One solution would be to have the chart values overwrite environment variables defined in apache/nifi in the server's command and then call the start.sh to make the configurations.  There would need to be some refactoring since start.sh also affects other files like authorizers.xml.

Trying to think of a way to get the best of both worlds; chart Values that are clearly documented and have priority

[2019-11-15 04:39] jdesroch commented on #18
@enyachoke  I think you're on the right track.  nifi-toolkit is in the apache/nifi image at [/opt/nifi/nifi-toolkit-current](https://github.com/apache/nifi/blob/master/nifi-docker/dockerhub/Dockerfile).

[2019-11-15 05:12] jdesroch commented on #15
Hopefully I can put some time into this tomorrow but I'll look for feedback before I get started.

[2019-11-15 06:09] jdesroch opened #26 "[cetic/helm-nifi] Support NiFi Registry container for flow versioning"
**Is your feature request related to a problem? Please describe.**
I would like to enable NiFi flow version control and allow new NiFi clusters to easily pull in existing flows from other environments.

**Describe the solution you'd like**
Have the option to spin up a [apache/nifi-registry](https://hub.docker.com/r/apache/nifi-registry/) container
- Use the same security/authentication configurati

[2019-11-15 09:10] vikashsingh009 commented on #21
Thanks! @octopyth yes  it  works

[2019-11-15 09:55] enyachoke commented on #18
@jdesroch  I think I figured it out and switched to to nifi-toolkit server/client setup where I launch a ca pod from which cluster pods request certs from to enable ssl and authenticate with ldap.

[2019-11-15 10:10] octopyth commented on #25
I checked the definition of the load balancer service:
![image](https://user-images.githubusercontent.com/640759/68935098-46a71580-0798-11ea-9788-387e372be1a5.png)

It looks like the service template doesn't pick up the loadBalancerSourceRanges property from values.yaml

[2019-11-15 10:56] octopyth commented on #25
It looks like the issue is in template service.yaml
![image](https://user-images.githubusercontent.com/640759/68938467-bb7d4e00-079e-11ea-9521-180031398770.png)
instead of
![image](https://user-images.githubusercontent.com/640759/68938515-d485ff00-079e-11ea-8b6c-8da2b0039855.png)
In the process of checking if this solves the issue.

[2019-11-15 11:21] octopyth commented on #25
It works! Updating the service.yaml template solved the issue. I am opening a PR for the same.

[2019-11-15 11:48] #25 closed

[2019-11-15 12:08] alexnuttinck commented on #21
I close this issue, thanks @octopyth for the answer.

[2019-11-15 12:08] #21 closed

[2019-11-15 12:20] alexnuttinck commented on #10
As there is no answer from @jayunit100, I close this issue. @jayunit100, don't hesitate to reopen this issue if there is a need to.

[2019-11-15 12:20] #10 closed

[2019-11-19 09:11] alexnuttinck opened #28 "[cetic/nifi] Test the 1.10 release of nifi"
**Is your feature request related to a problem? Please describe.**

Test & Migrate the chart to the last version of nifi:
https://cwiki.apache.org/confluence/display/NIFI/Release+Notes#ReleaseNotes-Version1.10.0

**Describe the solution you'd like**
v1.10 of nifi by default

[2019-11-19 09:29] vikashsingh009 opened #29 "How to run nifi kubernate as standalone"
Hi ,
I  have  tested helm-nifi  on  kubernate  and  its  working  only  issue i am  getting   is import  template where template is  of  big processor  when i  dropped  to  convas its  giving  error The specified observer identifier already exists i  have  exported  template  from  standalone  and  import  in  cluster any  idea  solution  how  it  will work.i  also  find  below  link  but   not  u

[2019-11-19 09:54] devopsdymyr opened #30 "[cetic/nifi] nifi node 4"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
kubernetes 12
**What happened**:
I have tried to install 4 node nifi cluster but getting readyness error.
i have modified in values.yaml file replica count = 4
helm install -n nifi . --namespace nifi
error:
Readiness probe failed: Node not found with CONNECTED state. Full cluster state:

[2019-11-19 10:13] alexnuttinck commented on #19
Seems to work fine, maybe we should fix the apiversion in a next release.

[2019-11-19 10:13] #19 closed

[2019-11-19 10:36] alexnuttinck commented on #30
Hello @devopsdymyr,

Thanks for your bug request,

Can you retry to install the helm chart and can you wait a bit more? (I think this the same bug: #8)
I can reproduce your bug on my minikube with 4 nodes.
It takes 1 or 2 minutes for the Readness probe to succeed.

The default ReadnessProbe in the statefulset will need to be rework to fix this bug:

[code]

[2019-11-19 11:06] alexnuttinck commented on #26
Hello @jdesroch,

Thanks for your feature request! I think it should be really an improvement with we have the possibility to deploy a [apache/nifi-registry](https://hub.docker.com/r/apache/nifi-registry/) with Helm on a Kubernetes cluster.

I agree threre are pros & cons to deploy the nifi registry in this repo or in a separate repo.
There is another benefit if we create a seperate chart: in the

[2019-11-19 15:59] alexnuttinck commented on #29
@vikashsingh009, not sure it is a bug related to the Helm scripts, maybe it is an issue from Nifi ? https://github.com/apache/nifi#getting-help

[2019-11-19 16:18] alexnuttinck commented on #22
Hello @RabbidDog,

Thanks for your bug report, I was able to reproduce your bug.

When the `ingress.path: /nifi`, it works fine.
When i set another path (for instance /demo-nifi), nifi redirects me automatically to /nifi which ends in 404 error.

Maybe there is a configuration in nifi to use another path than /nifi.

[2019-11-19 16:49] devopsdymyr commented on #30
I have modified initialDelaySeconds: 140 and repilica: 1
helm install -n dev .

![Screenshot from 2019-11-19 22-12-53](https://user-images.githubusercontent.com/41105507/69166819-e1498080-0b19-11ea-8610-79fa8e008359.png)

![Screenshot from 2019-11-19 22-14-20](https://user-images.githubusercontent.com/41105507/69166881-fc1bf500-0b19-11ea-8272-2ee63083ce64.png)
![Screenshot from 2019-11-19 22-15-36

[2019-11-19 17:06] devopsdymyr commented on #30
i have tried with below steps for 4 node cluster.
git clone https://github.com/cetic/helm-nifi.git nifi
cd nifi
helm repo add incubator https://kubernetes-charts-incubator.storage.googleapis.com
helm repo update
helm dep up
helm install --name nifi .
![Screenshot from 2019-11-19 22-29-57](https://user-images.githubusercontent.com/41105507/69168241-57e77d80-0b1c-11ea-8990-6c5d97eda6bc.png)

[2019-11-19 17:14] devopsdymyr commented on #30
i have modified to 250 second. but still have same issue
![Screenshot from 2019-11-19 22-43-34](https://user-images.githubusercontent.com/41105507/69169254-1061f100-0b1e-11ea-86e3-8a0a62e56f7e.png)

[2019-11-20 07:52] alexnuttinck commented on #22
Could be useful: https://nifi.apache.org/docs/nifi-docs/html/administration-guide.html#proxy_configuration

[2019-11-20 13:00] alexnuttinck commented on #30
@devopsdymyr Can you share logs from the different nifi containers?

[code]

[2019-11-20 14:54] sc7565 commented on #28
So, I was able to get 1.10 working with minor changes.

1. Updated Zookeeper chart version - 2.1.1
2. Updated helm-nifi/configs/zookeeper.properties
- Removed `clientPort=2181`
- Updated `server.1=` --> `server.1=localhost:2888:3888;2181`

Seems to be working fine, in case if someone wants to give a try

As per this - https://cwiki.apache.org/confluence/display/NIFI/Migration+Guidance

[2019-11-20 16:33] devopsdymyr commented on #30
i have followed same steps in the github docs only modified replica count 4
git clone https://github.com/cetic/helm-nifi.git nifi
cd nifi
helm repo add incubator https://kubernetes-charts-incubator.storage.googleapis.com
helm repo update
helm dep up
helm install --name nifi .

![Screenshot from 2019-11-20 21-50-51](https://user-images.githubusercontent.com/41105507/69256784-030d3b00-0be0-11ea-80d5

[2019-11-21 03:51] devopsdymyr commented on #30
same i have tried in aws kubernetes cluster getting error.
[nif-cluster-2-aws-kubernetes.txt](https://github.com/cetic/helm-nifi/files/3872729/nif-cluster-2-aws-kubernetes.txt)

[2019-11-21 16:18] RabbidDog commented on #22
Thanks for the info. I will go through the docs and try to find a solution that works for me.

[2019-11-22 08:54] alexnuttinck commented on #30
Hello @devopsdymyr, I did not find anything abnormal.

Pod nifi 1 took the lead, pod nifi 3 was well connected to nifi 1. (We can see that all these pods are ready)
Pod nifi 2 seems not yet to be connected to the others.

Your time to launch all the pods seems nevertheless extremely long. Has your Kubernetes cluster enough computing resources?

[2019-11-24 13:46] devopsdymyr commented on #30
Let me tell you entire steps executed from new cluster.
kops create cluster --name=testing --state=s3://<mybucket> --zones=us-east-1a --node-count=3 --node-size=t2.medium --master-size=t2.small --dns-zone=dymyr.com
kops update cluster testing --state=s3://<mybucket> --yes
watch -n 1 kubectl  get node
cat << EOF | kubectl create -f -
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tiller
  na

[2019-11-24 13:46] #30 closed

[2019-11-25 09:36] bloudman opened #31 "[cetic/nifi] How to automatically sclae up/scale down"
Hi,

I'm in trouble at scaling up/scaling down my apache nifi instance on kubernetes.
In Kubernetes everythings look fine but in apache nifi, scale up looks fine but scaling down create a shadow node that I need to destroy in the nifi interface.
Do you know a way to do it properly ?

Thanks by advance !

[2019-11-27 05:03] jdesroch commented on #18
@enyachoke thank you for working on this.  How's it going?  Do you need any assistance?

[2019-11-27 07:05] devopsdymyr commented on #31
same issue for me also,i have increased node to 6 and scale down not working all of my pvc still available in my cluster
![image](https://user-images.githubusercontent.com/41105507/69701093-1b1a1880-1112-11ea-89b1-8373e9711ab4.png)

[2019-11-27 14:30] bloudman commented on #31
I tried to modify the preStop hook without success.
I don't know how to deal with this problem.

Do you have an idea to investigate ?

[2019-11-29 08:24] devopsdymyr commented on #31
No idea but i need to look on this to remove

[2019-12-03 23:42] devopsdymyr commented on #31
@bloudman Did you get any solution for this issue

[2019-12-04 13:06] ceastman-ibm commented on #31
@bloudman are your nifi cluster nodes setup with tls? im having a problem scaling past 1 node. soon as the 2nd node is running i get errors like this [apache-nifi-1 app-log] 2019-12-04 12:49:53,846 WARN [main] o.a.nifi.controller.StandardFlowService Failed to connect to cluster due to: org.apache.nifi.cluster.protocol.ProtocolException: Failed marshalling 'CONNECTION_REQUEST' protocol message due

[2019-12-04 13:21] ceastman-ibm opened #33 "[cetic/nifi] error when scaling past 1 secure node"
**Describe the bug**
when 2nd replica of the statefulset starts up i get errors in the app-log after i try to log into the ui. with a single replica everything works fine.

[apache-nifi-0 app-log] 2019-12-04 13:15:00,250 WARN [Process Cluster Protocol Request-10] o.a.n.c.p.impl.SocketProtocolListener Failed processing protocol message from 172-30-147-92.apache-nifi.observability.svc.cluster.local

[2019-12-06 04:28] jdesroch commented on #15
@spencerdcarlson @aexnuttinck I'd be interested in any feedback on my proposed solution.

[2019-12-06 10:38] alexnuttinck commented on #15
Hello @spencerdcarlson, I will have a look, already thank you!

[2019-12-06 13:19] alexnuttinck commented on #15
Merged in [0.2.3](https://github.com/cetic/helm-nifi/releases/tag/0.2.3).

@spencerdcarlson tell us if it is ok for you? Then, we can close this issue.

[2019-12-08 13:53] devopsdymyr commented on #31
Any solution for this bug

[2019-12-09 10:32] alexnuttinck commented on #28
Hello @sc7565, thanks for the tips. Nifi 1.10 will be by default in the next release.

[2019-12-09 11:03] alexnuttinck commented on #17
Old service definition:
[code]

New service definition:

[code]

[2019-12-09 12:24] alexnuttinck commented on #17
merged in [v0.3.0](https://github.com/cetic/helm-nifi/releases/tag/0.3.0).

[2019-12-09 12:24] #17 closed

[2019-12-09 12:24] alexnuttinck commented on #28
merged in [v0.3.0](https://github.com/cetic/helm-nifi/releases/tag/0.3.0).

[2019-12-09 12:24] #28 closed

[2019-12-09 12:26] alexnuttinck commented on #29
I close this issue. If there is something else, please create a new issue.

[2019-12-09 12:26] #29 closed

[2019-12-09 14:13] bloudman opened #34 "[cetic/nifi] Pending indefinitely"
Hi,
I'm in trouble with the new version of this helm file (1.10.0)
All containers "PodInitializing" indefinitely.

How can I fix this issue.

Here are the events logs on GCP:

[code]

[2019-12-09 14:27] alexnuttinck commented on #34
Hi @bloudman ,
Can you **Describe the bug** a bit more?

*  Which version of Helm and Kubernetes do you use?
*  How to reproduce it? (as minimally and precisely as possible) Do you change the default values file?
* Anything else we need to know?
* What should I see in your logs?

[2019-12-09 14:47] bloudman commented on #34
Hi @alexnuttinck,

I'm using helm v2.14.1, Kubernetes 1.13.11-gke.14.

My values.yml file:
[code]
To reproduce it : `helm install --name apache-nifi-test --namespace test -f values.yaml cetic/nifi`

The problem seems to come from Zookeeper that gives me a crashLoopBackOff:
[code]

[2019-12-09 15:35] alexnuttinck commented on #34
@bloudman Thank you for the description.

Maybe you kept the storage of an old zookeeper.
Can you try to delete your old PVC of zookeeper and retry?

[2019-12-10 08:07] bloudman commented on #34
@alexnuttinck  Thanks it's working fine now!
I have another problem now I launched 2 apache nifi replicas, the first one is ok and is working fine but the second one is unhealthy and restart in an infinite loop (now 164 restarts...).

[code]
I had the same trouble last week with the older version I'm totally unable to solve it.
Do you have any idea ?

[2019-12-12 16:54] spencerdcarlson commented on #15
@alexnuttinck, thanks for taking the time to address this. This will work for sure.

[2019-12-13 08:33] alexnuttinck commented on #15
Thanks @spencerdcarlson @jdesroch, I close this issue.

[2019-12-13 08:33] #15 closed

[2019-12-16 15:52] tuanvuvo opened #35 "[cetic/nifi] Set up Nifi with LDAP/HTTPS"
**Describe the bug**
Pls help me for set up LDAP/HTTPS for Nifi in Kube

**Version of Helm and Kubernetes**:
Helm: 2.16
Kube: 1.16

**What happened**:
I tried to set up my nifi in Kube under LDAP and HTTPS but can't worked. Can you help us?

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2019-12-17 15:19] sc7565 commented on #35
Same here, it seems confusing .. few pointers would be really helpful

[2019-12-17 18:19] sc7565 commented on #18
hi @enyachoke can you share the PR, it would be great as we are also facing issue with SSL setup with ldap

[2019-12-18 11:08] enyachoke commented on #18
Sorry guys I  have not really  had time to prepare a proper PR. If you need to see the changes I made a PR https://github.com/cetic/helm-nifi/pull/36. Am swarmed  and I kind proved to my self this can actually work and am not actively look to make this mergeable. Take a look at it and hope it helps.

[2019-12-18 11:10] enyachoke commented on #18
@jdesroch   You can make comments  on the PR on what I should change and I can try make the changes as soon as am able to. Thanks

[2019-12-18 14:39] sc7565 commented on #18
Thanks you very much @enyachoke , with above PR... got this error

Can you give pointers or readme on how to turn on the https?
So, far I tried this changes to my values.yaml along with above PR

replicaCount: 1
....
securityContext: runAsUser: 0
....
properties: mechanism externalSecure: false isNode: true httpPort: null metricsPort: 9192 httpsPort: 8443 clusterPort: 6007 clusterSecure: true need

[2019-12-19 04:47] enyachoke commented on #18
@sc7565  if it helps here is my values override. I already have ldap setup. I believe securityContext: runAsUser: 0 is bad but thats me just being lazy honestly,  hence the reason I noted I need to put a little  bit more time into this. Also tested this with a replica count of 3 am sure it won't work with 4 or 2 this is incomplete work and I think I will close the PR and reopen it later.
[code]

[2019-12-27 07:48] vikashsingh009 opened #37 "after restarted pods getting zookker exception"
I  have  staretd  pods  no  error  all  pods  running  but  when  i  see  nifi  logs  its  not  able  to  connect  zookeeper here  is  error

        at java.lang.Thread.run(Thread.java:748)
2019-12-27 07:46:20,043 INFO [main-EventThread] o.a.c.f.state.ConnectionStateManager State change: RECONNECTED
2019-12-27 07:46:20,043 INFO [Curator-ConnectionStateManager-0] o.a.n.c.l.e.CuratorLeaderElectionM

[2019-12-29 03:15] jdesroch commented on #15
@spencerdcarlson FYI I just learned about the latest feature that is meant to replace variable registry https://nifi.apache.org/docs/nifi-docs/html/user-guide.html#Parameters

[2019-12-30 23:00] devopsdymyr opened #38 "[cetic/nifi] kubernetes node update nifi error"
**Describe the bug**
Using kops i have updated my instance size of large
![Screenshot from 2019-12-31 04-10-56](https://user-images.githubusercontent.com/41105507/71603586-96447380-2b83-11ea-9a43-981ad53bab5c.png)
Before update my cluster nifi cluster is working fine but after update my cluster getting error
![Screenshot from 2019-12-31 04-12-16](https://user-images.githubusercontent.com/41105507/

[2020-01-02 04:58] devopsdymyr opened #39 "[cetic/nifi] CrashLoopBackOff"
**Describe the bug**
A clear and concise description of what the bug is.
i have deployed nifi using helm chart which is working fine after 20 days later got below error

**Version of Helm and Kubernetes**:
ubuntu@ip-10-0-0-202:~$ helm version --short
Client: v2.14.3+g0e7f3b6
Server: v2.14.2+ga8b13cc

**What happened**:

![image](https://user-images.githubusercontent.com/41105507/71652321-8a56de00-

[2020-01-02 07:02] vikashsingh009 commented on #37
any  help  on  this  issue

[2020-01-03 09:40] fzalila commented on #38
@alexnuttinck @AyadiAmen @banzo

[2020-01-05 15:08] devopsdymyr commented on #38
Any suggestion?

[2020-01-06 11:12] banzo commented on #39
Can you compare the flow.xml.gz in the various nodes?

[2020-01-07 00:24] devopsdymyr opened #40 "[cetic/nifi] Nifi cluster disconnected"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**What happened**:
I have deployed nifi cluster 6 days before which is working fine .but suddently that got error.This issue i am facing repeatedly.
dotf-nifi-0                              3/4     Running   0          7d
dotf-nifi-1                              4/4     Running   0

[2020-01-07 00:45] devopsdymyr commented on #39
not able to find that file flow.xml.gz

[2020-01-08 04:40] devopsdymyr opened #41 "[cetic/nifi] annotations"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-01-08 04:40] #41 closed

[2020-01-08 05:02] devopsdymyr opened #42 "[cetic/nifi] issue title annotations for basic auth"
**Describe the bug**
A clear and concise description of what the bug is.
I have tried to create nifi basic auth using nginx but littlebit confusion on the annotations.
Anyone give me some sample for the annotations passwd for basic auth
**Version of Helm and Kubernetes**:
 helm version --short
Client: v2.16.1+gbbdfe5e
Server: v2.16.1+gbbdfe5e

k8s: v1.14.8

**What happened**:
HOw to added basic au

[2020-01-08 05:27] vikashsingh009 opened #43 "LoadBalancer ip specifi in value.yml not reflecting in svc"
Hello,
I  have  use  azure  aks  to  deploy  nifi ,i  have  chnaged below  line in value.yml
# headless service
headless:
  type: ClusterIP
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"

# ui service
service:
  type: LoadBalancer
  enabled: true
  httpPort: 80
  httpsPort: 443
  annotations:
   service.beta.kubernetes.io/azure-load-balancer-resource-group: mc_vi

[2020-01-08 08:52] alexnuttinck commented on #43
@vikashsingh009 you have made an indentation error for the `loadBalancerIP`.

[2020-01-08 14:42] vikashsingh009 commented on #43
@alexnuttinck i  have  tried all  possiblity  like  put  only  one  entry  in  service.yml but  still  i  am  not  getting  LB  ip  it always  have  random here is  my  value.yml  changes

value.yml
------------
service:
  type: LoadBalancer
  enabled: true
  httpPort: 80
  httpsPort: 443
  annotations:
   loadBalancerIP: 52.228.103.111
 ingress:
  enabled: false
  annotations: {}
  tls: []
  host

[2020-01-09 15:05] banzo commented on #35
This is not yet implemented in the chart, but it is in [FADI](https://github.com/cetic/fadi) roadmap so stay tuned! (or do not hesitate to make a PR if you manage to get it working before then)

[2020-01-14 16:23] gou02rav32 opened #44 "[cetic/nifi] issue title I am getting so often NIFI Bulletin like The node has been elected Primary node"
A few days ago we have deployed Nifi in the cluster, it works as we have expected, but very ofter we are getting Error Pop up like Node has been changed, for few seconds I am not able to use some of the processors. Below I am attaching some screenshots for the Error that we are facing in Nifi Cluster mode.
![Nifi-Cluster-errorBluttein](https://user-images.githubusercontent.com/14087142/72361897-39

[2020-01-21 07:56] erdrix commented on #31
Hi, to perform a clean scale down, I suggest you the following steps :

1. Create a dummy pod (to perform some actions)  :

[code]

2. Once the pod is started, open a bash into :

[code]

3. Get the url of your nifi LoadBalancer service (outside the the pod):

[code]

4. Get the last statefulset's nifi node name (during [scale down the Statefulset will remove the last one in the sequence](https://

[2020-01-21 12:01] RabbidDog commented on #22
So, we finally decided to use nifi  in our cluster and figured out that the following changes in the values.yaml will do the trick:

[code]
#### for Traefik ingress controller
[code]

## ##For Nginx ingress controller
[code]

[2020-01-21 12:02] #22 closed

[2020-01-21 12:47] alexnuttinck commented on #22
Thanks for the explanation @RabbidDog !

[2020-01-22 15:59] alexnuttinck commented on #42
@devopsdymyr basic auth secrets should not be done created in this Chart, so I will remove it. You need to setup your Ingress Controller (Nginx, Traefik, ...) for that, and pass the good annotations. Please, see their documentation for that. For instance, https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/basic

[2020-01-23 07:47] #42 closed

[2020-01-23 07:52] alexnuttinck commented on #43
Perhaps it is related to aks? Personally, I have no issue on gke for that point. Maybe, try to find find some examples for aks? I close this issue as I don't think it's an issue related to the Chart.

[2020-01-23 07:52] #43 closed

[2020-01-27 14:15] bloudman opened #45 "[cetic/nifi] External secure does not work"
Hi,

I'm in trouble today because when i set externalSecure to "true" it does not accept openId connection
I have an error "authentification is only avaiable in https".
I 'm using https through my nginx ingress and not directly on apache nifi.
Is there a way to solve this issue ?

Thank you by advance

[2020-01-28 18:00] jenisov opened #46 "[cetic/nifi] kubectl port-forward: connection refused"
**Describe the bug**
Cannot get access to ui when deployed to microk8s.

**Version of Helm and Kubernetes**:
helm 2.16.0
kubernetes 1.17.0 (microk8s latest)

**What happened**:
kubectl port-forward is getting connection refused from nifi service port 80

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):
`$ kubectl port-forward service/nifi 8080:80

[2020-01-28 19:02] nareshnelluri commented on #45
Hi Bloudman,
NIFI will redirect to authentication when it has SSL enabled only.You should have to generate Kestore and truststore using nifi tls toolkit and those need to be mapped to nifi properties like below

nifi.security.keystore=./conf/keystore.jks
nifi.security.keystoreType=jks
nifi.security.keystorePasswd=Eg3Laf9YaSk7D3dNChu+OYEbB7AYUz4vUOK+LvT14I4
nifi.security.keyPasswd=Eg3Laf9YaSk7D3dNC

[2020-01-29 08:48] bloudman commented on #45
Hi Nareshnelluri,

Yes it is what is understood... unfortunately like you i'm not able to use tls toolkit with this helm chart and it seems the only up to date chart.
I'm running nifi on GKE and i'm totally blocked at this security configuration since 2 weeks now.

@nareshnelluri if you have any advancement can you forward it in this issue ?

@alexnuttinck do you know if there are some workaround

[2020-01-30 08:38] alexnuttinck commented on #45
Hello @nareshnelluri @bloudman,

Currently, the chart doesn't support the security setup. There is some works to do to make it work. There is already one tentative made in #18. I don't have the time for now to look at it, and I will be very grateful if someone propose a PR. The idea is to implement what @nareshnelluri  explains in the chart.

A workaround to enable the ssl is to use a Reverse Prox

[2020-02-25 12:44] CCsamteale commented on #46
Hitting the same issue as above at the moment, looks to be related to kubernetes issue
https://github.com/kubernetes/kubernetes/issues/72597

Nifi listens on the PodIP, but port-forward talks to 127.0.0.1

[2020-02-25 19:57] jenisov commented on #46
I found workaround but it requires Ingress installed to the cluster:

[code]

[2020-02-28 14:24] RabbidDog opened #47 "[cetic/nifi] Readiness Probe Fails"
**Describe the bug**
Nifi readiness probe doesn't succeed.
During out cluster installation we deploy and delete and redeploy Nifi multiple times. And we use persistent storage for the nifi. Randomly, after a redeployment, Nifi will stop working.
We are not doing anything different in our redeployment.

**What happened**:
The readiness probe fails with the following message

`
Readiness probe faile

[2020-03-04 16:35] novakov-alexey opened #48 "[cetic/nifi] Custom configmap support"
**Is your feature request related to a problem? Please describe.**
I need to mount my own CofigMaps to NiFi Pods. Current Charts do not have such feature, however, it is similar to custom Secrets, which is supported already

**Describe the solution you'd like**
I would like to mount my custom ConfigMaps via Helm values and `--set` option.

**Describe alternatives you've considered**
There is no cl

[2020-03-09 11:22] novakov-alexey commented on #48
PR has been created

[2020-03-09 13:02] alexnuttinck commented on #48
Hello @novakov-alexey,
Thanks, I review your PR, it will be useful!

[2020-03-09 13:23] alexnuttinck commented on #48
Merged in [0.3.3](https://github.com/cetic/helm-nifi/releases/tag/0.3.3). Thanks @novakov-alexey

[2020-03-09 13:23] #48 closed

[2020-03-24 21:30] shrivastavshubham34 opened #50 "Escape dot sequences wont work in ingress.annotations"
**Describe the bug**
Helm chart runs successfully without showing any errors, but ingress is not getting created after adding below command
[code]
I can run this successfully by modifying values.yaml and running helm locally, but my scenario requires me to run this along with --set parameter on the command line which doesn't work.

**Version of Helm and Kubernetes**:
Helm v3.1.2
K8s v1.14

[2020-03-31 14:25] alexnuttinck commented on #50
Hello @shrivastavshubham34,

You can override default values in a separate file and [by using the -f <file.yaml> option](https://helm.sh/docs/chart_best_practices/values/#consider-how-users-will-use-your-values). I think it will be easier for you.

Install the chart like this:
[code]

and you alsoneed to enable the ingress:

[code]

[2020-03-31 14:32] AyadiAmen commented on #45
In order to create a secure NiFi cluster, we need a keystore and truststore and a client certificate that we can load in our browser to access the UI.

NIFI comes with **The Apache NiFi Toolkit** which is an additional artifact produced when building NiFi, and it is used to generate the keystore and truststore as well as a client cert for our browser, the toolkit path inside the pod is `/opt/nifi/

[2020-03-31 15:22] alexnuttinck commented on #45
Hello @AyadiAmen, thanks for your work!

My first comment before going further in your investigations: I think the option `nifi.state.management.embedded.zookeeper.start` should not be true, as we use the helm chart form zookeeper for that. Why do you want to enable the embedded zookeeper?

[2020-03-31 16:10] AyadiAmen commented on #45
hi @alexnuttinck, thanks for your comment!

In order to secure Nifi you need to run it clustered with SSL enabled,  NiFi has dependencies on ZooKeeper in order to behave as a cluster. to avoid the burden of forcing administrators to also maintain a separate ZooKeeper instance, NiFi provides the option of starting an embedded ZooKeeper server.

I tested both Nonetheless, when I set the option `nifi

[2020-04-01 07:20] alexnuttinck commented on #45
Ok maybe for classic IaaS, but it is not the case for containers: adding some different apps in one container is not advised. If you want to scale Nifi or Zookeeper separably, you won't be able to do that with an embedded Zookeeper. Those are different enough that you really want them to be separate things so that you can manage them separately.

Do you configure this port 8443 in the service.yaml

[2020-04-02 11:16] AyadiAmen commented on #45
Hello @alexnuttinck, thank you for your answer

I turned off the embedded zookeeper option, i fixed the ports ( httpsPort: 9443, clusterPort: 8443) " [nifi-admin-guide](https://nifi.apache.org/docs/nifi-docs/html/administration-guide.html) ",  but a new error came up

[code]
from what i understand, it can't find the `nifi-cert.pem` Certificate which is generated via the tls-toolkit alongside the o

[2020-04-03 18:10] gisaf16 opened #51 "[cetic/nifi] helm lint fails"
**Describe the bug**
Helm lint fails on chart, apiVersion is required (missing in Chart.yaml)

**Version of Helm and Kubernetes**:
Helm v3.0.3, Go v1.13.6

**What happened**:

**What you expected to happen**:
helm lint to PASS

**How to reproduce it** (as minimally and precisely as possible):
navigate to NiFi folder and run "helm lint ." in the terminal

**Anything else we need to know**:

[2020-04-06 07:20] alexnuttinck commented on #51
Hello @gisaf16,

Thanks for this bug report. It will be fixed when we will upgrade this chart to Helm v3 by:

* moving dependencies.yaml into Chart.yaml.
* adding the apiVersion.

You can nevertheless run this Helm chart with v3.

[2020-04-21 04:58] stoetti opened #53 "[cetic/nifi] define custom initContainers in values"
**Is your feature request related to a problem? Please describe.**
We would like to instantiate nifi including a custom processor and a pre-defined flow but without having to create a separate nifi-image or helm-chart.

**Describe the solution you'd like**
If the chart could provide a value that makes it possible to define a custom init-container this could give us the possibility to copy the addi

[2020-04-21 05:14] stoetti opened #54 "[cetic/nifi] add extra entries to nifi.properties file"
**Is your feature request related to a problem? Please describe.**
We'd like to add custom location where nifi should load nar-files from. This could be configured via additional properties-configuration using the 'nifi.nar.library.directory.'-prefix.

**Describe the solution you'd like**
Append configuration item from values (e.g. extraNifiProperties) to the nifi.properties-template before creati

[2020-04-21 12:10] #54 closed

[2020-04-21 12:11] stoetti commented on #54
Just found the properties.safetyValve configuration option which is a perfect match for the feature request

[2020-04-21 12:22] stoetti commented on #53
A second possible solution for the specific case would be to share a mount between two containers. This implies the feature request to add a custom container to the nifi-pod.

Documentation about shared volumes - https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/

[2020-04-22 07:34] alexnuttinck commented on #53
@stoetti your feature request makes senses, thanks! I will look into your PR asap.

[2020-04-22 08:12] alexnuttinck commented on #51
@gisaf16 it is fixed in 0.4.0.

[2020-04-22 08:12] #51 closed

[2020-04-22 08:13] alexnuttinck commented on #53
@stoetti merged in 0.3.4 & 0.4.0
 Thanks!

[2020-04-27 07:09] #53 closed

[2020-05-27 05:40] stoetti commented on #31
@alexnuttinck is there a reason the commit with the fix for this was not yet merged into master?

Asking cause I need a solution for this issue and need to know if that is the way to go.

[2020-05-27 08:21] banzo commented on #31
He is currently on personal leave, but will be back in the office very soon.

[2020-06-02 05:26] stoetti commented on #31
I tried to come up with a clear decomissioning of a node upon shutdown, as proposed in the nifi doc here (https://nifi.apache.org/docs/nifi-docs/html/administration-guide.html#decommission-nodes).

To get a better understanding why my solution looks like it does here a short list of the way towards it:
* as soon as nifi is shutdown, the main process of the "server"-container is stopped and therefo

[2020-06-02 10:01] alexnuttinck commented on #31
Hello @stoetti,

I think I still had some issues to correct before merging.

Good, it's the documentation I followed too.

Yes, it's the issue I had, thanks for the report!

It seems to be an option.

Interesting, but I think this extraContainer should be directly in the Statefulset definition and not the values.yaml, but proposing extraContainers in the values.yaml is a good idea.

Great.

Ok, I

[2020-06-23 09:14] alexnuttinck commented on #31
Thanks to @stoetti, this bug is now fixed. Please, reopen this issue if you still have a problem.

[2020-06-23 09:14] alexnuttinck commented on #31
Fix is merged in v0.4.2 of the Helm Chart.

[2020-06-23 09:16] alexnuttinck commented on #46
It should be fixed now (in Chart v0.4.2), please repoen if you still encounter this issue.

[2020-06-23 09:16] #46 closed

[2020-06-23 09:20] alexnuttinck commented on #26
#58 implements this feature request.

[2020-06-23 14:42] appunni-dishq commented on #47
Same issue version: 0.4.2

[2020-06-24 04:49] stoetti commented on #31
The fix still has an issue when the pod nifi-0 needs to restart the decomissioning of that node does not work properly.

[2020-06-24 06:56] alexnuttinck commented on #31
Ok @stoetti thanks for the report, I propose to repoen this issue to keep that in mind.

[2020-06-25 08:54] #31 closed

[2020-07-01 12:03] AyadiAmen commented on #45
After fixing most of the issues, nifi produces no more errors but is still unreachable.

After the following changes https://github.com/cetic/helm-nifi/commit/b355a95432f57389affa086ad50da960795ec827 when i launch nifi it launches normally with no error msgs in all the different logs and the pods are 4/4 all running, in the openldap side in the logs a msg produces once, the msg results from a conn

[2020-07-01 15:27] alexnuttinck commented on #45
@AyadiAmen there is an error in the service.yaml definition:

[code]

should be:

[code]
or

[code]

I think the definition of service and properties values should be reworked :).

[2020-07-02 09:12] AyadiAmen commented on #45
@alexnuttinck Thank you for noticing that, i have fixed it in the `service.yaml` file and also changed the default https port to 9443 ( default nifi https port) and now i'm getting a different response from the browser telling me there's something wrong with the certificate, i tried to curl from inside the pod `curl https://127.0.0.1:9443` and this msg appeared
[code]
it looks like there's somethi

[2020-07-02 12:58] appunni-dishq commented on #47
[code]

[2020-07-03 17:19] AyadiAmen commented on #45
Nifi Is connected to ldap, but we can't reach the UI with the usual command `minikube service` when the service is of type nodePort, it appears that with the certificates generated by tls-toolkit we can only access the NIFI UI via localhost, therefore you need to forward the port 9443 ( nifi default https port )using the command `kubectlt port-forward <myrealease>-nifi-0 9443:9443` and then in the

[2020-07-08 21:44] olivegak971 opened #63 "Impossible to connect to HMI via Ingress"
Hi

after Helm chart deployment of NIFI (0.4.3), I can't access to HMI via ingress. I get a 503 error.
Here are my services :
nifi                              NodePort    10.43.37.108    <none>        8080:31620/TCP               7m13s
nifi-headless                     ClusterIP   None            <none>        8080/TCP,6007/TCP            7m13s

and my ingress
Name:             nifi-ingress
Names

[2020-07-12 23:58] iwarp opened #64 "[cetic/nifi] Providing Private Keys to Cluster"
**Is your feature request related to a problem? Please describe.**
NiFi doesn't have any secure key storage and relies on file system for example the SFTP private key file references a local path. This isn't a great solution when you are running a cluster as nodes can be missed and more importantly when its on Kubernetes how do we inject these into the container.

**Describe the solution you'd lik

[2020-07-16 08:56] appunni-dishq opened #65 "[cetic/nifi] Add annotation support for processors port, to make prometheus scrape autodiscovery possible"
Adding support for annotations let's us use the latest feature of PrometheusReportingTask from NIfi and let prometheus automatically scrape it.

[2020-07-17 12:44] novakov-alexey commented on #65
@appunni-dishq are you working on this? I also need this feature, so that I can try to implement it.

[2020-07-22 16:53] mhsmathew opened #67 "[cetic/nifi] Missing Processors"
**Describe the bug**
When I first run NiFi on this install I noticed there are some processors missing from the UI list. Notably, I am trying to use PrometheusReportingTask (which is a native NiFi processor), but it's not listed. However, the .nar file is in the /lib directory. Is this an image issue or a NiFi one?

**Version of Helm and Kubernetes**:
Helm v3.1.2
K8s v1.14
NiFii v1.11.4

**How to

[2020-07-22 16:59] #67 closed

[2020-07-27 09:31] alexnuttinck commented on #65
Added in [0.4.4 release](https://github.com/cetic/helm-nifi/releases/tag/0.4.4).

[2020-07-27 09:31] #65 closed

[2020-07-27 10:40] alexnuttinck commented on #26
Added in [0.5.0 release](https://github.com/cetic/helm-nifi/releases/tag/0.5.0).

[2020-07-27 10:40] #26 closed

[2020-07-30 16:12] novakov-alexey opened #68 "[cetic/nifi] Customize config files such logback.xml"
I want to customize logback.xml to add my log appenders

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to set a custom ConfigMap name with new logback.xml which needs to be used by Helm install, instead of default file from configs folder.

**Describe alternatives you've considered**
Now I have to fork Helm charts to change logba

[2020-08-12 12:29] novakov-alexey commented on #68
@alexnuttinck do you have any idea how this could be implemented?

[2020-08-18 09:01] alexnuttinck commented on #35
WIP here: #70

[2020-08-18 09:02] alexnuttinck commented on #45
WIP here: #70

[2020-08-18 18:57] ados1991 commented on #39
hello any update ? iam facing the same issue

[2020-08-18 20:09] #50 closed

[2020-08-26 08:40] AyadiAmen opened #72 "can't access UI with secured cluster"
**Describe the bug**

Following the issue #45 , when the authentication is enabled I can't access the UI, I receive either :

[code]

or :

[code]

**Version of Helm and Kubernetes**:

Helm: "v3.0.2"

kubernetes: "v1.17.1"

**What happened**:

NiFi UI is unreachable

After this update [Allow whitelisting expected Host values](https://issues.apache.org/jira/browse/NIFI-4761), NiFi accepts requests

[2020-08-28 09:12] lindawr commented on #45
_"Currently, the chart doesn't support the security setup. There is some works to do to make it work. There is already one tentative made in #18. I don't have the time for now to look at it, and I will be very grateful if someone propose a PR. The idea is to implement what @nareshnelluri explains in the chart."_

It is my understanding from reading through this issue that this chart in fact cannot

[2020-08-28 16:28] alexnuttinck commented on #45
@lindawr, you're right. As I explained in the Issue, it is not possible for the moment with this chart to provide TLS and secure access. We are currently working on this feature, See our WIP #70. I will add a note in the README.md.

[2020-09-07 12:41] yayatab opened #74 "[cetic/nifi] new nifi version"
Last month, a new [NiFi version was released](https://cwiki.apache.org/confluence/display/NIFI/Release+Notes). NiFi 1.12.0 (and a week afterwards, 1.12.1)
the new release contains lot's of neccesary improvements like, new kafka version and monitoring.

Will this helm chart supports the new NiFi version?
could you pleas add it?

[2020-09-11 18:53] abhi7788 opened #75 "Are Zookeeper and the Nifi registry mandatory?"
**Describe the bug**
I will not categorize my issue as bug, it is more of a kind request for more information/clarification I am seeking. As per the values.yaml documentation for the sections zookeeper it is mentioned that if the value is true then we have to deploy the zookeeper chart incase the value is false then we have to provide zookeeper url and port; Is it mandatory to run zookeeper with A

[2020-09-14 21:02] scottwallred commented on #39
Anyone have any luck in coming up with a solid solution yet for this issue?

[2020-09-15 08:54] banzo commented on #39
Get the flow.xml.gz files from the various pods, untar them and compare them.

@ados1991 @scottwallred can you provide some pointers on how to reproduce the issue? Something that happens after 20 days is difficult to debug.

[2020-09-18 13:51] alexnuttinck commented on #74
Hello @yayatab,
Yes you should be able to use the 1.12.0 version with this chart by modifying the tag value.
I will modify the chart to use the 1.12.1 version of nifi when the docker image is available.
Since the PR https://github.com/cetic/helm-nifi/pull/76 needs that version to work. There is an issue with the 1.12.0.

[2020-09-18 13:55] alexnuttinck commented on #75
Hello @abhi7788,

Zookeeper is mandatory.
Nifi registry should not be mandatory, but I need to check there is no problem when it is disabled (as it is a quite recent feature to this chart). And I need to modify the README.md to be clear.

[2020-09-18 13:59] alexnuttinck commented on #64
Hello @iwarp,

I think it's already implemented, if I understand well your feature request. See https://github.com/cetic/helm-nifi/blob/master/values.yaml#L42

[2020-09-18 14:05] alexnuttinck commented on #63
Seems to be an ingress controller issue. Do you have more details/logs?

[2020-09-22 09:42] abhi7788 commented on #75
Thanks @alexnuttinck for the reply. Since Zookeeper is mandatory therefore I am assuming that we do have the capability to run a distributed Nifi system on Kubernetes also. That means lets say if i have two pods running for the Nifi and i start a data pipeline, the execution will happen on both the pods. Correct me if I am wrong here.

[2020-09-22 12:08] xasx opened #77 "v1.12.0: The keystore properties are not valid"
**Describe the bug**
The Nifi pods won't come up.

**Version of Helm and Kubernetes**:
Helm v3.3.0
Kubernetes v1.19.2

**What happened**:
Initially installed the helm chart with some values.
The Nifi pods app-log container logs:

[code]

This makes Jetty shutdown. And the pod gets int CrashLoopBackoff

**What you expected to happen**:
Everything is deployed and application runs flawlessly.

**How

[2020-09-22 12:14] banzo opened #78 "Support custom processors"
Feature request: ability to add a [custom processor](https://www.tutorialspoint.com/apache_nifi/apache_nifi_custom_processor.htm) to Nifi.

We would have a way to provide the `.nar` files for the custom processors to the chart so that those files are available in the `$ NIFI_HOME/lib` folder.

Using postaction as we did for the PostgreSQL driver is not applicable since the processors need to be av

[2020-09-22 12:30] alexnuttinck commented on #78
@banzo you can use extraVolumes for that: https://github.com/cetic/helm-nifi/blob/master/values.yaml#L229

[2020-09-22 12:30] xasx commented on #77
I can confirm: It is the 1.12.0 of the image causing this.

A 1.11.4 works.

[2020-09-22 12:39] xasx commented on #77
Probably this is the reason for #74, even after merge of #76

[2020-09-22 13:01] #78 closed

[2020-09-24 08:46] alexnuttinck commented on #75
@abhi7788 exact :)

[2020-09-24 08:48] alexnuttinck commented on #33
resolved by #76.

[2020-09-24 08:48] #33 closed

[2020-09-24 08:50] abhi7788 commented on #75
Awesome...Thanks alot for all this information. Since i was occupied with some other urgent things therefore did not got much time to implement and test this out. Hopefully i will start on this by next week. In the meanwhile I am good to close the issue. Will let you know incase if I run into some thing else....

Thanks!!!

[2020-09-24 08:50] #75 closed

[2020-09-24 10:10] AyadiAmen commented on #72
reopening the issue and relating it to #70 and #76 .

After adding the TLS support and securing NIFI, the UI becomes unreachable, I believe we are having the same issue [here](http://apache-nifi-users-list.2361937.n4.nabble.com/Whitelisting-Proxy-Host-values-in-a-Container-Environment-td5931.html) .

a secured nifi cluster can only be reached through localhost ( by default ) or by whitelisting spe

[2020-09-25 06:51] alexnuttinck commented on #72
I reproduce the same bug on minikube and gke.

[2020-09-25 14:28] iammoen commented on #72
does your ssl cert generated for the node have the hostname you are trying to use listed as a subject alternative name? We ran into an issue where the nifi toolkit 1.12 in server mode as a CA didn't generate a cert with the appropriate SANs. Not sure that this is what is happening to you but thought I should bring it up.

[2020-09-25 14:46] alexnuttinck commented on #68
https://github.com/cetic/helm-nifi/blob/master/values.yaml#L42 by configmaps in the values.yaml file?

[2020-09-25 14:48] alexnuttinck commented on #63
maybe related to #72

[2020-09-25 15:54] novakov-alexey commented on #68
I would need my configmap to override existing configmap, which is:

[code]

Then in Statefulset.yaml, I assume we need to check some new flag if logback.xml should be taken from default file or from user's ConfigMap. This place:

[code]

Just using this https://github.com/cetic/helm-nifi/blob/master/values.yaml#L42 won't help I guess.

[2020-09-27 11:40] alexnuttinck commented on #45
TLS support and openId auth are now managed by the chart. I close this issue.

[2020-09-27 11:40] #45 closed

[2020-09-27 22:04] nwalens opened #84 "[cetic/nifi] Support different service account"
**Is your feature request related to a problem? Please describe.**
In Openshift containers cannot run with a set fsGroup or runAsUser that is not specified/permitted in the range assigned to the namespace/project.

As in this helm chart and docker image the user has to be set to a specific value, one must then permit the statefulset to use the 'anyuid' security context/sccm.
SCCM are based on serv

[2020-09-29 07:01] banzo opened #85 "Support for JRE 11"
The current chart uses the apache/nifi image based on OpenJDK 8 JRE, it would be nice if it can provide JRE 11.

[2020-09-29 07:03] banzo commented on #85
There is a recent PR for this at https://github.com/apache/nifi/pull/4460/

[2020-09-30 06:16] hobe commented on #74
Hi @alexnuttinck,
1.12.1 of the nifi docker image is now available: https://hub.docker.com/r/apache/nifi/tags

[2020-09-30 07:06] alexnuttinck commented on #74
thanks @hobe.

The helm chart now uses nifi 1.12.1 by default. (chart version 0.5.4)

[2020-09-30 07:06] #74 closed

[2020-09-30 07:07] alexnuttinck commented on #77
@xasx The helm chart now uses nifi 1.12.1 by default. (chart version 0.5.4)

Can you tell me if it is working for you with this new version?

[2020-09-30 07:59] yayatab commented on #74
thanks @hobe  and @alexnuttinck

[2020-09-30 09:06] xasx commented on #77
@alexnuttinck stranegly, it does not work.

I `helm repo update` d and changed the tag name in my values file.

Same error message: [app-log.log](https://github.com/cetic/helm-nifi/files/5304297/app-log.log)

[2020-09-30 09:59] balajir24 opened #87 "helm version issue"
Hi,

We have configured the nifi (chart 0.5.1) with helm v2.16.10. now it is throwing error when try to upgrade values.

[code]

It is expecting helm v3. please help on this.

Thanks,
Balaji.R

[2020-09-30 12:39] alexnuttinck commented on #87
Yes, you should upgrade your helm client to v3: https://helm.sh/docs/intro/install/#from-script

Helm v2 will be soon deprecated: https://helm.sh/blog/helm-v2-deprecation-timeline/

[2020-09-30 23:54] MikeThomsen commented on #85
@banzo we don't really track issues raised here. That's done in the ASF Jira.

[2020-10-01 13:56] banzo commented on #85
I understand, this issue is just a way for us to prepare for the chart adaptation once the official Docker image is updated.

[2020-10-06 14:20] balajir24 opened #90 "Failed to start web server: Permission denied"
Hi Team,

We are upgrading nifi from 0.5.1 to 0.5.2 to get the support for oidc. but nifi is not starting and getting below error.
We tried with v0.5.3 & v0.5.4 as well. But getting same error.

[code]

Please help on this.

Thanks,
Balaji.R

[2020-10-08 06:15] banzo opened #91 "Continuous integration/testing"
Automate testing of the chart when a new PR is done.

I would suggest something in the line of @fzalila [Github Actions work in FADI](https://github.com/cetic/fadi/blob/feature/ci/.github/workflows/main.yaml) to have a very basic test, unless there are more simple/appropriate alternatives:

[code]

[2020-10-09 10:45] ketanhasija opened #92 "Latest nifi image not working with this chart with provided values"
**Describe the bug**
A clear and concise description of what the bug is.
Chart was working ok for image version 1.11.4 but for latest version 1.12.1 getting error
**Version of Helm and Kubernetes**:
helm version 3.1.2,
kubernetes version - Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:

[2020-10-11 02:34] Subv commented on #77
This issue and #92 are caused by this check in the Apache Nifi source code: https://github.com/apache/nifi/blob/c2960998ac70009d9365326dce47b3d15ad299e4/nifi-commons/nifi-security-utils/src/main/java/org/apache/nifi/security/util/SslContextFactory.java#L159

Since 1.12 Nifi assumes that if _any_ keystore/truststore parameters are set then the user wants to actually use them, and so throws an error

[2020-10-11 12:18] wuqunfei commented on #92
+1 issue on v1.12.

- nifi-zookeepr x3 is running
- nifi-register is running
- boostrap/app/user-log is running
- server apache/nifi: 1.12.1 is broken

For the logs on apache/nifi nodes, it looks running. But the pod close automatically, maybe the health check is broken.Back to the old version, all works.

Log is on apache/nifi
[code]

[2020-10-11 14:45] Subv commented on #72
The issue (besides the `{{- $ingressPort := .Values.service.httpsPort -}}` change) seems to be that the ingress is trying to communicate with the secured Nifi using HTTP instead of HTTPS, in my case adding the HTTPS backend annotation to the ingress worked (I'm using the nginx ingress controller)

[code]

[2020-10-12 06:08] ketanhasija commented on #92
Thanks Subv. It worked :)

[2020-10-12 06:08] #92 closed

[2020-10-12 08:09] #77 closed

[2020-10-12 08:13] #87 closed

[2020-10-12 08:14] alexnuttinck commented on #84
Thanks for your PR @nwalens. I close this issue.

[2020-10-12 08:14] #84 closed

[2020-10-13 06:34] balajir24 commented on #90
Hi,

facing issue even it is enabled with PVC. please help on this.

[2020-10-13 22:54] Subv opened #97 "[RFC] Zookeeper chart repo update"
**Is your feature request related to a problem? Please describe.**
It would seem the Zookeeper chart that is being used comes from the incubator project (https://artifacthub.io/packages/helm/helm-incubator/zookeeper) which seems to point to a soon-to-be-archived Github repo: https://github.com/helm/charts/tree/master/incubator/zookeeper
![image](https://user-images.githubusercontent.com/357072/959

[2020-10-14 00:55] Subv commented on #18
As of #76 and #93 oidc and TLS work out of the box

[2020-10-14 05:34] chancethecoder commented on #39
I just downgraded image.tag from **1.12.1** to **1.11.0** and CrashLoopBackOff disappeared.

Error messages what i had before:

[2020-10-25 17:08] michafn opened #99 "create Pod nifi-test-0 in StatefulSet nifi-test failed error: Pod "nifi-test-0" is invalid: spec.initContainers[1].volumeMounts[0].name: Not found: "config-data""
Hi, i am using pretty much the standard values.yaml as per repo:

[code]
this results in the error:

`create Pod nifi-test-0 in StatefulSet nifi-test failed error: Pod "nifi-test-0" is invalid: spec.initContainers[1].volumeMounts[0].name: Not found: "config-data"`

I am lost here. Seems to be a problem with the initContainer, but then everybody usgin the helmchart should have the same issue, which

[2020-10-25 17:32] michafn commented on #99
UPDATE:
digging in the chart:
```properties.clusterSecure: true```
seems to be the trigger to mount this volume. However enabling this now leads to:

[code]
is there any reference values.yaml for a cluster deployment? It seems ia m kind of trying to reverse engineer the chart stepwise...

[2020-10-26 23:11] #99 closed

[2020-10-26 23:13] michafn commented on #99
seems there were quite some misconfigurations. Cloning evryting from scratch actually resolved most issues. Yet the secured cluster is not accessible via ingress and the port forwarind does not work either. This still seems a bit tricky...

[2020-11-04 14:24] raghav1uphealth opened #100 "[cetic/nifi] Calling `helm dep up` when installing chart from local clone fails"
**Describe the bug**
When cloning the repo and trying to call `helm dependency update`, get the following error:
[code]
It looks like helm doesn't like that no repository is specified for `ca` in Chart.yml dependencies, even though the subchart is already in `charts/`. Commenting out the `ca` dependency and then calling `helm dependency update` will allow the other dependencies to be downloaded in

[2020-11-05 04:06] sushilkm commented on #100
This is a bug on helm 3.4.0
Try downgrading the helm or wait for the new release probably late next week.
https://github.com/helm/helm/issues/8940

[2020-11-05 13:50] raghav1uphealth commented on #100
Thank you, I'll try that! I'm new to helm, didn't consider helm itself having an issue. Closing this.

[2020-11-05 13:50] #100 closed

[2020-11-06 17:30] sushilkm commented on #100
Another thing that you can do is use `--skip-refresh`
[code]

[2020-11-07 15:53] michafn opened #101 "secureCluster not working with ingress"
**What I am trying to do:**

setting up a secureCluster and accessing it via nginx ingress with letsencrypt certificate via cert-manager

**My values:**
[code]

**What happened:**
cluster is set up correctly, zookeeper running, nifi pod does not throw any issues either. Ingress is setup and letsencrypt certificate is pulled correctly and set up. If i try to access the cluster via the ingress i kee

[2020-11-07 17:12] MLNW opened #102 "[cetic/nifi] Deployment on microk8s with already deployed zookeeper"
**Describe the bug**
I am trying to deploy this chart on a microk8s cluster already running a bitnami/zookeeper chart. The first issue I had was that when leaving the nifi registry enabled a zookeeper pod would be created by this chart even though Zookeeper was disabled in the values.

After disabling the nifi registry as well as the zookeeper and supplying the FQDN of the already deployed Zookeep

[2020-11-09 08:13] alexnuttinck commented on #68
@novakov-alexey fixed in 0.6.0.

[2020-11-09 08:13] #68 closed

[2020-11-09 08:24] alexnuttinck commented on #97
@Subv 0.6.0 release now uses the Bitnami Helm chart. I close this issue. Thanks for the report.

[2020-11-09 08:24] #97 closed

[2020-11-09 15:52] fzalila commented on #47
same issue for me.

[2020-11-12 15:37] alexnuttinck commented on #18
We can close this issue.

[2020-11-12 15:37] #18 closed

[2020-11-15 09:29] MLNW commented on #102
Any idea what the problem could be?

[2020-11-17 22:52] drivard opened #103 "[cetic/nifi] jq: error: Could not open file config.json: No such file or directory"
**Describe the bug**

I am trying to setup a first time nifi cluster using the helm chart. One of the objective is to use **OIDC** as the auth provider.

**Version of Helm and Kubernetes**:
Kubernetes 1.18.8
chart: 0.6.0

**What happened**:

When I issue the helm install command line it passes, but it fails on initiating the nifi-0 pod. When I tail the logs of the init container named **cert-reque

[2020-11-24 11:43] vikashsingh009 opened #104 "Cluster disconnected"
I  have used  helm  chart  to  migrate  to nifi  1.12 where  i  have  replaced  flow.xml.gz  in  side  data  folder  with  flow.xml.gz  with 1.11 ,nifi  server  started  but  after  some  time  in  the  ui  getting  below  error
Cluster Connection
This node is currently not connected to the cluster. Any modifications to the data flow made here will not replicate across the cluster.

i  am  attachi

[2020-11-25 16:28] tstevens opened #106 "Helm install returns errors for post secrets"
**Describe the bug**
For one of my clusters, I'm unable install the basic chart without an error from helm. Even using the example from the README shows the issue. From some minor research it seems like the NiFi registry chart is trying to deploy a default DB as a base64 encoded secret which might be too large. I'm not sure this is exactly a bug, but depending on the Kubernetes cluster configurati

[2020-11-25 19:33] tstevens commented on #106
I've been able to verify older versions before #58 was merged install without issues, I've specifically checked 0.4.1 & 0.4.4. It seems like this might be the line causing issues, [secret.yaml#L10](https://github.com/dysnix/charts/blob/63047cec6254430fd319a20a4cdd11cbaa813cea/nifi-registry/templates/secret.yaml#L10).

Also, failed to note this above. While the README install example fails, my gene

[2020-11-27 07:33] alexnuttinck commented on #35
Done in the last PR, available in the 0.6.1 release.

[2020-11-27 07:33] #35 closed

[2020-12-04 11:08] novakov-alexey opened #108 "SocketTimeoutException on NiFi startup"
**Describe the bug**
NiFi cluster does not start normally, so that NiFi UI opens with an error:

app-log has such exception thrown infinitely:

[code]

**Version of Helm and Kubernetes**:
Helm charts v0.6.1
Kubernetes v1.18.8

**What happened**:
NiFi does not work. NiFi UI shows such error:

[code]

**What you expected to happen**:
Cluster is formed. NiFi UI can be opened.

**How to reproduce it**

[2020-12-07 17:40] jdesroch opened #109 "[cetic/nifi] Support Nifi-Registry GitFlowPersistenceProvider"
Support versioned flows stored in a git repo that NiFi Registry can use with the GitFlowPersistenceProvider.

**Describe the solution you'd like**
Use latest nifi-registry chart that has git configuration implemented.  https://github.com/dysnix/charts version **0.2.1**

**Additional context**
The dyxnix chart was recently updated to allow ssh configuration required for git clone.

[2020-12-08 04:05] dsarosi opened #111 "[cetic/nifi] Add support for istio"
**Is your feature request related to a problem? Please describe.**
When using istio the node has trouble connecting with the cluster.

`2020-12-08 03:19:03,514 ERROR [Curator-Framework-0] o.a.c.f.imps.CuratorFrameworkImpl Background retry gave up
org.apache.curator.CuratorConnectionLossException: KeeperErrorCode = ConnectionLoss
	at org.apache.curator.framework.imps.CuratorFrameworkImpl.performBac

[2020-12-15 13:37] novakov-alexey commented on #108
Any feedback on this issue? Does anybody use the latest Helm charts version 0.6.1?

[2020-12-16 17:16] a-nldisr commented on #37
Can you provide your connection string and a bit more info and the deployment yaml you used?

[2020-12-17 12:36] nileshlange opened #114 "[cetic/nifi] ca keystore invalid"
**Describe the bug**
ca toolkit generated invalid keystore.jks properties

**Version of Helm and Kubernetes**:
helm Version:"v3.4.1
Kubernetes Version: 1.18.5

**What happened**:
Deployed nifi using the helm charts using instructions provided however after successful deployment keystore was invalid and nifi ui service is falling to start

**What you expected to happen**:
Nifi should be run with HT

[2020-12-18 07:03] dylanljenkins opened #115 "[cetic/nifi] 0.6.1 Server with no auth is missing nifi.web.http.host which breaks clustering"
**Describe the bug**
Node names in 0.6.1 are set to localhost rather than the stateful set's name if no auth is enabled. Due to this, the cluster stops functioning once there is more than one node.

**What happened**:
0.6.1 adds the check `{{- if .Values.auth.oidc.enabled }}` on line 193 of `templates/statefulset.yaml`. This check means that `nifi.web.http.host` (line 213) is never set if `.Values

[2020-12-22 06:58] tunaman commented on #115
Can confirm, rolling back to `0.6.0` fixed the issue for us.

[2020-12-22 08:45] tunaman commented on #108
Yeah same as issue #115. That one has a good description of what's causing this

[2021-01-03 00:20] lfdominguez opened #116 "[cetic/nifi] Nifi deploy with replicaCount 2"
**Describe the bug**
When deploy nifi with replicaCount 2 then one of the nodes dont work and then nifi ui dont work. Another thing, every node address take localhost:8080, this is right??? the hostname commands get nifi-0 and nifi-1, then why get localhost:8080, if i restart the failing node then the UI works and the list of cluster members get all the same address localhost:8080.

![image](https

[2021-01-03 04:05] lfdominguez commented on #116
Checking inside one of the pods, the file `/opt/nifi/nifi-current/conf/nifi.properties` has the property `nifi.web.http.host=` empty, so by default nifi get the value as `localhost`, this is expected?

[2021-01-13 00:44] apgiorgi commented on #116
See #115

[2021-01-13 20:08] lfdominguez commented on #115
I can confirm, with 0.6.0 is working

[2021-01-13 20:08] lfdominguez commented on #116
Closing in favor of #115

[2021-01-13 20:08] #116 closed

[2021-01-18 12:59] thilko commented on #109
We appreciate the support of the GitFlowPersistenceProvider! Could you give a rough estimate when the change will be merged to master?

[2021-01-19 11:33] alexnuttinck commented on #115
Hello,

Thanks your bug report. @AyadiAmen It seems that your PR in 0.6.1 broke some features for authentication. Could you have a look at it?

For the moment, I suggest to use 0.6.0 if you need an auth with oidc. I made a note for that in the README.

[2021-01-19 11:34] alexnuttinck commented on #114
Hello @nileshlange ,

Thanks your bug report. Can you share your values.yaml config ?

[2021-01-19 11:36] alexnuttinck commented on #111
Hello @dsarosi,

Thanks for your Feature request. It is not at the agenda, but we are open to PR.

[2021-01-21 10:47] gillhofer opened #118 "[cetic/nifi] Secure cluster with provided certificates instead of self-signed ones."
**Is your feature request related to a problem? Please describe.**
Currently, TLS and thus authentification can only be enabled when the provided TLS-toolkit CA is enabled which creates self signed certificates. However, this breaks the browsers trust into the NIFI UI as well as prevents [MiNiFi](https://nifi.apache.org/minifi/) to connect to NIFI because of trust issues. If I understand this righ

[2021-02-11 10:12] #64 closed

[2021-02-11 10:13] banzo commented on #106
adding @daniel-yavorovich to the conversation in case he can provide some insights.

[2021-02-11 10:21] banzo commented on #104
Please provide more information: kubernetes version, deployment details, values.yaml, etc.

[2021-02-12 00:17] ellisio commented on #50
If anyone stumbles on this issue from Google searching, the reason is you are not double escaping.

[code]

Needs to be:

[code]

[2021-02-17 10:53] yardenshoham opened #120 "[cetic/nifi] Request for a global.imageRegistry parameter"
**Is your feature request related to a problem? Please describe.**
I usually deploy using my own image registry, not docker hub. For that, I setup a `global.imageRegistry` parameter that all helm charts I deploy respect.

**Describe the solution you'd like**
I'd like the current `image.repository` parameter split into two. See this image from Bitnami's kafka helm chart:
![image](https://user-image

[2021-02-17 17:20] cig0 opened #121 "[cetic/nifi] Ingress template incorrectly renders the hosts map: `spec.rules[0].host: Invalid value: "map[host:subdomain.mydomain.com]"`"
**Describe the bug**
Hi,

The chart seems to be incorrectly rendering the template when defining a custom host for the ingress. It could also be I'm doing something awfully wrong of course.

**Version of Helm and Kubernetes**:

Helm: `v3.5.2+g167aac7`
API: `v1.16.15-gke.6000`
kubectl: `v1.20.2`

**What happened**:

When I try to deploy the chart with custom values (specifically setting a hostname)

[2021-02-17 17:42] cig0 commented on #121
Oops, a "minor detail" I omitted is that I'm using version `0.6.2` of the chart (latest one at the moment).

[2021-02-17 17:51] cig0 commented on #121
Aight I found the answer: I was incorrectly defining the items in the map, shoutout to https://github.com/codecentric/helm-charts/issues/139#issuecomment-562666456

[2021-02-17 17:51] #121 closed

[2021-02-25 21:57] jdesroch commented on #115
Also breaks the safetyValue for custom nifi.properties overwrites unless using oidc.  Good catch @dylanljenkins  Is there reason to check for oidc?

[2021-02-27 14:02] apothini opened #122 "[cetic/nifi] Not able to set pod affinity"
[cetic/nifi] Not able to set pod affinity - The nifi pods are getting cretaed across node and working as labeled on nodes

[2021-03-01 15:04] murphyki opened #123 "Is there a plan to bump the version of nifi-registry?"
Hi,
Just wondering if there is any plan to bump the version of nifi-registry that is currently used from v0.1.1 to v0.2.1?
I'm asking because in v0.1.1 of the nifi-registry helm chart the helm test is broken but seems to be fixed in v0.2.1.
Thanks,
Kieran

[2021-03-02 06:43] patsevanton opened #124 "[cetic/nifi] Error: no repositories found. You must add one before updating"
Hello! Thanks for helm nifi

[code]
Error
[code]

[2021-03-02 06:54] patsevanton opened #125 "[cetic/nifi] ingress.hosts[0] not correct output"
Hello! Thanks for helm nifi!

Try install helm nifi

[code]

output
[code]

[2021-03-02 07:42] AyadiAmen commented on #72
This issue has been resolved with the commit : https://github.com/cetic/helm-nifi/commit/dbc0712785298c898d80dc4d10100cacec33a102

[2021-03-02 07:42] #72 closed

[2021-03-02 15:19] jdesroch opened #127 "[cetic/nifi] 0.6.1 Server with no auth skips setting custom nifi.properties"
**Describe the bug**
nifi.properties values defined in `.Values.properties.safetyValve` are ignored unless `.Values.auth.oidc.enabled`

**What happened**:
0.6.1 adds the check `{{- if .Values.auth.oidc.enabled }}` on line 193 of templates/statefulset.yaml. This check means that custom nifi.properties values (line 215) are never set if .Values.auth.oidc is disabled.

**What you expected to happen**

[2021-03-08 10:36] tunaman commented on #102
We have a somewhat similar setup in that we deploy on a Rancher (2.5.5) cluster with Zookeeper installed in it's own namespace, we use the zookeeper svc url in the nifi config to connect to that cluster and it works fine. Hope this helps.

[code]

[2021-03-10 10:55] patsevanton commented on #108
Hello! Same issue.

[2021-03-11 02:49] carlosxmunoz opened #130 "[cetic/nifi] CrashLoopBackOff for nifi-0 3/4 Server is failing to spin up"
**Describe the bug**
The nifi-0 pod is stuck in CrashLoopBackOff
![image](https://user-images.githubusercontent.com/52302029/110727549-1da66180-81e1-11eb-8a14-e9aaf2784b68.png)
![image](https://user-images.githubusercontent.com/52302029/110727563-24cd6f80-81e1-11eb-805b-b90467058213.png)
![image](https://user-images.githubusercontent.com/52302029/110727579-28f98d00-81e1-11eb-900e-069a60dbd82a.png)

[2021-03-11 06:19] #115 closed

[2021-03-11 06:26] AyadiAmen commented on #108
https://github.com/cetic/helm-nifi/pull/126

[2021-03-11 06:26] #108 closed

[2021-03-11 06:26] AyadiAmen commented on #127
https://github.com/cetic/helm-nifi/pull/126

[2021-03-11 06:26] #127 closed

[2021-03-11 10:31] banzo commented on #123
We need to see what the impact is, would you be ok to propose a pull request?

[2021-03-11 10:38] banzo commented on #124
With Helm 3 you need to add the stable repo manually:

[code]

Can you confirm this fixes your issue so we update the documentation README.

Ref: https://stackoverflow.com/questions/57970255/helm-v3-cannot-find-the-official-repo

[2021-03-11 10:46] banzo commented on #125
Does this happen also when specifying the hosts in the values,yaml?

[2021-03-11 10:46] alexnuttinck commented on #124
Yes, if you want to run the nifi helm chart locally, you must add the nifi dependencies:

[code]

I will add this to the README.

Otherwise you can use the cetic helm chart to run nifi: https://github.com/cetic/helm-nifi#add-helm-repository

[2021-03-11 16:35] webdevops-admin commented on #47
Is any updates for this issue?

[2021-03-12 02:37] patsevanton commented on #125
I set `ingress.hosts[0]=nifi.192.168.22.7.xip.io`
but output show ` http:///nifi`

[2021-03-12 03:58] patsevanton commented on #124
I check this instruction. It works.

[code]

[2021-03-12 09:36] alexnuttinck commented on #125
The NOTES.txt uses the webProxy value: https://github.com/cetic/helm-nifi/blob/master/templates/NOTES.txt#L8

[2021-03-12 09:37] alexnuttinck commented on #124
Ok, we can close this issue.

[2021-03-12 09:37] #124 closed

[2021-03-13 21:40] murphyki commented on #123
Hi @banzo,
Sure, I'll propose a pull request.
Thanks,
Kieran

[2021-03-14 23:46] jarrettprosser commented on #106
I came across this issue also. When deploying the helm chart with the default configuration and the nifi-registry enabled, deployment of the secret failed with the error `Secret "nifi-registry-config" is invalid: metadata.annotations: Too long: must have at most 262144 characters`. As a workaround, I've forked my own nifi registry chart and removed the sample database, which now deploys with no pr

[2021-03-26 09:17] ronny-panknin-flaconi commented on #127
please reopen the issue, this is not fixed with #126

[2021-03-29 19:45] andrewhibbert opened #134 "[cetic/nifi] issue title"
**Describe the bug**

I'm trying to use nifi with IAM roles for service accounts, we are using nifi 1.13 which seems to have a supported SDK - https://github.com/apache/nifi/blob/rel/nifi-1.13.0/nifi-nar-bundles/nifi-aws-bundle/pom.xml#L29 which is higher than the minimum supported in here - [https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html]. However

[2021-03-29 19:46] andrewhibbert commented on #134
Not a bug but wandering if anyone is successfully using IRSA with NiFi

[2021-04-02 11:07] aixiansheng commented on #130
I also can't get the chart started.. the "server" container is failing because the TLS generation tool ran out of space:

kubectl logs nifi-0 -c server

[2021-04-13 09:05] tunaman commented on #123
@murphyki Are you still planning on making a PR for this issue? We are looking at replacing the registry we have now and really want to go for version `0.8.0`. We already [opened an issue ](https://github.com/dysnix/charts/issues/19) for that.

[2021-04-14 06:15] balajir24 opened #135 "nifi oidc issue"
Hi Team,

We are trying to implement nifi with oidc setup.

Getting below error.

`Unable to parse the response from the Token request: Missing JSON object member with key "access_token"`

Below are the values added.

redirect url

[code]

in nifi values.yaml file

[code]

from Azure, JWT response

[code]

please help on this.

[2021-04-14 12:50] agessner opened #136 "[cetic/nifi] Unable to port-forward when cluster is secure"
**Describe the bug**

When deploying a secure cluster we are not able to connect to it through port forward.

`kubectl port-forward <pod> 9443:9443 -n <namespace>`

The error we get in the console is

[code]

Trying other ports, like 6007, works just fine. It returns a certificate not trusted alert, which is expected.

One thing we notice is that when we look at the open and listen port inside the

[2021-04-14 14:50] murphyki commented on #123
@tunaman I had intended to make a PR for this but apologies, I never got it. Will I hold off now since ye will be moving to 0.8.0?

[2021-04-19 12:23] tunaman commented on #123
Yeah you could wait until we have a reply on that open issue unless you need it like right now :)

[2021-04-19 14:40] a-nldisr commented on #123
Opened another ticket on their side with the request to add a License. Since this chart uses their chart for the nifi registry and they do not have a License attached what is your idea about this?

[2021-04-22 03:21] angelosanramon opened #137 "[cetic/nifi] Add option to add annotations to ConfigMap"
**Is your feature request related to a problem? Please describe.**
I am using ArgoCD to manage my helm deployments. With this helm chart, ArgoCD is failing to create the configMap because of the size of the data. ArgoCD is throwing an error: `The ConfigMap is invalid: metadata.annotations: Too long: must have at most 262144 characters`. ArgoCD provides a workaround by adding the following annotati

[2021-04-24 13:35] angelosanramon commented on #137
Closing. This issue is meant for nifi-registry chart.

[2021-04-24 13:35] #137 closed

[2021-04-29 10:08] a-nldisr commented on #123
License issue is fixed.

[2021-04-29 10:31] a-nldisr commented on #123
The moment https://github.com/dysnix/charts/issues/19 is merged I will make a PR here.

[2021-05-05 14:49] raefezzeldin commented on #101
@michafn

Have you reached to solution for the above configuration?

[2021-05-10 10:37] a-nldisr commented on #130
Can you share your values.yml?

[2021-05-10 10:37] a-nldisr commented on #123
PR made, see #142

[2021-05-10 10:42] tunaman commented on #109
this issue might be fixed by [the following PR](https://github.com/cetic/helm-nifi/pull/142)

[2021-05-17 15:34] Shivam9268 commented on #134
It will be really helpful if someone can help here.
I'm also facing the same issue. It assumes the role of the worker node even after specifying `eks.amazonaws.com/role-arn` in serviceAccount annotations.
Chart version: 0.6.4
NiFi 1.13.2

[2021-05-21 14:12] nuttybrewer commented on #134
Ok, so I'm trying to reverse-engineer this as well... here is what I did but I'm missing the final pieces:
Add this to your values.yml
     sts:
        serviceAccount:
           create: true
           name: mynifi

When I deploy the chart, it creates and assigns the service account as mynifi-sa.

And then as per: You then need to create a "Web Identity" role as per https://docs.aws.amazon.com/e

[2021-05-21 17:06] Shivam9268 commented on #134
Hi @nuttybrewer, yes the environment variables do populate inside the container. But still there were issues assuming the role.
So our team created custom plugins with `software.amazon.awssdk:sts` added as a dependency which solved the issue.
I also went ahead and created a PR #143 to inject annotations into service account.

[2021-05-24 10:47] Lavanya2102 opened #144 "[cetic/nifi] Nifi Pods Status is Init:0/1 indefinitely"
I am trying to install Nifi on the Kubernetes cluster using cetic/helm-nifi. But once I installed nifi, the pods are not running but are in "status: Init:0/1" indefinitely.
![Screenshot (9)](https://user-images.githubusercontent.com/43609457/119335701-56b38580-bcaa-11eb-9bba-24ee335f0d71.png)
Then I checked the logs of the containers and the init container zookeeper has been having a problem. It s

[2021-05-26 15:31] nuttybrewer commented on #144
[code]
In the events it'll show you why it's failing. Usually it's because it can't mount something or a claim for a persistent volume is broken.

[2021-05-26 22:15] raefezzeldin opened #145 "[Cetic/Nifi] prometheusMetrics issue"
I can't access the metrics of prometheusafter enabling it from grafana , it keeps giving me that error

[code]

![image](https://user-images.githubusercontent.com/1645929/119738160-8f0cbc80-be80-11eb-9dc6-7538bcc6a4d7.png)

[2021-05-27 11:26] tunaman commented on #145
While this is definitely not a Nifi issue (Nor a Grafana one for that matter), but at the URL field you should point to your Prometheus url, not nifi metrics. Nifi metrics are collected by Prometheus and thus are available through the Prometheus datasource. After you have correctly configured your prometheus datasource in Grafana you can install a Nifi dashboard for grafana [like this one](https:/

[2021-05-27 11:56] raefezzeldin commented on #145
@tunaman

Thanks for your reply, but I can't see Nifi Service in the targets of Promotheus

[2021-05-27 14:09] tunaman commented on #145
Without knowing anything about your kubernetes/prometheus setup you should check if all the relevant parts are in place, this means the service for the metrics endpoint is there, you have the servicemonitor correctly configured. I added some configuration below which works for us, hope this helps!

[code]

[2021-05-27 21:08] raefezzeldin commented on #145
@tunaman  both Service and service monitor are there. But I can still can see any data in the dashboards and the nifi metrics not registered as a target in Prometheus

[2021-05-28 02:12] #122 closed

[2021-05-28 02:51] banzo commented on #123
Thank you! I think we can close this issue, and maybe #109 ?

[2021-05-28 02:52] #123 closed

[2021-05-28 03:17] banzo opened #146 "[cetic/nifi] Documentation for troubleshooting"
**Is your feature request related to a problem? Please describe.**

We need to document troubleshooting procedures.

**Describe the solution you'd like**

Add troubleshooting instructions to the README and to the Bug report template:

[code]

[2021-05-28 09:53] tunaman commented on #145
@raefezzeldin Sorry to hear that, unfortunately I can't help you with further debugging your issue.

[2021-05-28 10:56] #109 closed

[2021-06-01 06:42] Lavanya2102 commented on #144
I did check the events and it says none. But the storage class was not set, now I set it on all zookeeper nodes.
All of them are running, but the nifi node still says init 0/1. what might be the reason?
<img width="393" alt="nifi1" src="https://user-images.githubusercontent.com/43609457/120277231-6ac23d00-c2d1-11eb-9e87-d83531d7a2ca.PNG">

[2021-06-01 08:20] deebify commented on #144
I have the same issue with k8s on GCP. Nifi pods in Init state.
Have you solved it?

[2021-06-02 04:05] Lavanya2102 commented on #144
No, i haven't.

[2021-06-04 03:07] hussainsaify commented on #101
@michafn  @raefezzeldin Were you able to work around this?

[2021-06-04 03:16] raefezzeldin commented on #145
@tunaman I have a added the connection of  nifi-metrics in the targets in prometheus.config file in the configmaps and it is working fine

Thanks

[2021-06-04 03:16] #145 closed

[2021-06-04 09:07] tunaman commented on #145
Glad to hear @raefezzeldin !

[2021-06-04 16:24] #146 closed

[2021-06-04 16:46] banzo commented on #144
Please provide more information. The full output of nuttybrewer's command for example.

Note: I can not reproduce the issue on Minikube, it takes 45 minutes to install with my home internet connection but it gets there in the end.

[2021-06-07 09:23] #91 closed

[2021-06-16 06:53] Ahbab-Ahmed opened #149 "PS C:\nifi-authentication-test> helm install nifidm cetic/nifi --version=0.7.5 --namespace=test --values=./test_nifi.yaml Error: Service "nifidm" is invalid: spec.ports[0].nodePort: Invalid value: 30236: provided port is already allocated"
Hi Team,

I have already deployed Nifi using this Helm chart in one one the namespace (lets say 'dev' namespace) on kubernetes cluster, but when I am trying to deploy Nifi in another namespace (lets say 'test' namespace) on the same cluster, I am getting the below error

"PS C:\nifi-authentication-test> helm install nifidm cetic/nifi --version=0.7.5 --namespace=test --values=./test_nifi.yaml
Error

[2021-06-17 14:52] browns9 commented on #134
@Shivam9268

"custom plugins" ... Do you mean NiFi authenticator plugins?

Many thanks,
Steve

[2021-06-17 14:57] nuttybrewer commented on #134
Hi Steve,

I submitted https://github.com/apache/nifi/pull/5108 to support this. You
can fork and compile nifi, the dockerfiles are already in the distribution.
I can change the image and version in the current charts to load those
custom ones and they now work fine.

Pat

On Thu, Jun 17, 2021 at 4:52 PM Steve Brown ***@***.***>
wrote:

[2021-06-21 12:12] banzo commented on #149
Please provide more information, as requested in the [bug report template](https://github.com/cetic/helm-nifi/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)

[2021-06-22 02:15] #104 closed

[2021-06-22 02:15] #44 closed

[2021-06-22 02:15] #40 closed

[2021-06-22 02:15] #37 closed

[2021-06-22 02:15] #38 closed

[2021-06-23 14:46] bmgante opened #152 "nifi-registry-config annotation size"
Hello,

I am trying to run this helm chart for the first time and got the error regarding the size of annotation:

`The Secret "nifi-registry-config" is invalid: metadata.annotations: Too long: must have at most 262144 bytes`

Indeed the value for default-database is quite big. I suppose this is expected but how can handle this?

![image](https://user-images.githubusercontent.com/27358817/12311776

[2021-06-24 10:05] banzo commented on #152
There is an open issue for this in the nifi registry chart: https://github.com/dysnix/charts/issues/16

Related to #106 #137

[2021-06-24 11:39] bmgante commented on #152
Hi @banzo
Does it mean that as WA i can safely remove the nifi-registry-primary.mv.db file from my subchart (I´ve added nifi-registry as subchart of main nifi helm chart).

path: charts/nifi-registry/data/nifi-registry-primary.mv.db

If this file can be removed, what is indeed it´s goal?

Thanks

[2021-06-24 15:46] banzo commented on #152
I do not know, you might want to ask in the the above referenced dysnix issue.

[2021-06-24 17:52] bmgante commented on #111
Hi,
As workaround, is it only required to disable isto in sts annotations or is it also required to disable isto for registry and zookeeper charts?

`sts:
  # Parallel podManagementPolicy for faster bootstrap and teardown. Default is OrderedReady.
  podManagementPolicy: Parallel
  AntiAffinity: soft
  useHostNetwork: null
  hostPort: null
  pod:
    annotations:
      security.alpha.kubernetes.io/

[2021-06-25 10:38] AyadiAmen opened #153 "Keycloak - self-signed certificates not working"
**Describe the bug**

When trying to integrate nifi with keycloak, the tls-toolkit generated self signed certs are not working, after configuring nifi and passing the keystore to keycloak, i get the following error when trying to access nifi UI:

[code]
the config for nifi-keycloak integration can be found [here](https://github.com/cetic/helm-nifi/commit/4bb68b3740a8040028e35fec8243510e253c8f65)

[2021-06-25 12:06] banzo commented on #153
Linked to #118

[2021-06-25 16:31] bmgante opened #154 "LDAP Authentication"
Hi,

I am trying to enable ldap authentication for the cluster.
CA is enabled, ldap parameters configured and pods are running but can´t reach the UI. Is there anything else that must be configured to properly enable ldap authentication?

pods:
[code]

app-log:
`2021-06-25 16:27:01,638 WARN [NiFi Web Server-115] o.a.nifi.web.server.HostHeaderHandler Request host header [nifi.xxx.net:9443] differen

[2021-06-25 17:47] bmgante commented on #154
values.yaml

`properties:
  # use externalSecure for when inbound SSL is provided by nginx-ingress or other external mechanism
  externalSecure: false
  isNode: false # set to false if ldap is enabled
  httpPort: null # set to null if ldap is enabled
  httpsPort: 9443 # set to 9443 if ldap is enabled
  webProxyHost:
  clusterPort: 6007
  clusterSecure: true # set to true if ldap is enabled
  needC

[2021-06-28 09:17] bmgante commented on #118
Would like to understand if this issue is the cause of not being able to access nifi UI after trying to enable https and ldap (should be the same for oidc). The error i got when trying to access the ui is:

![image](https://user-images.githubusercontent.com/27358817/123612013-13dd5400-d7fa-11eb-88a5-adc67d2cee48.png)

[2021-06-28 09:30] bmgante commented on #153
Hello, Would like to understand if this issue is the cause of not being able to access nifi UI after trying to enable https and ldap (should be the same for oidc). The error i got when trying to access the ui is:

![image](https://user-images.githubusercontent.com/27358817/123612301-52730e80-d7fa-11eb-9894-7e9c9f990d41.png)

[2021-06-29 02:11] #144 closed

[2021-06-30 02:17] #136 closed

[2021-06-30 02:17] #63 closed

[2021-06-30 02:17] #125 closed

[2021-06-30 02:17] #39 closed

[2021-06-30 02:17] #34 closed

[2021-07-02 18:10] melodicdeath commented on #47
Same issue version: 0.7.8

[2021-07-05 04:59] gillhofer commented on #118
No, probably not. You seem to have a misconfigured NiFi. Your NiFi is running on a domain it is not aware of.

[2021-07-05 08:53] bmgante commented on #118
I am running it at AWS EKS and disabled istio (not compatible with this helm chart). In terms of ui config I have:

`# ui service
service:
  type: LoadBalancer
  httpPort: 8080
  httpsPort: 9443
  nodePort: 30236
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: Environment=staging,Function=xxx-xxx,Service=nifi
    service.beta.kubernetes.io/aws-load-balance

[2021-07-05 14:44] bmgante commented on #154
This is the error i got when truing to access https url:
![image](https://user-images.githubusercontent.com/27358817/124488450-c6d42180-dda7-11eb-9dca-b42533792d0b.png)

I am wondering if i may have some misconfiguration on values.yml. Does anyone know what could be missing?

[2021-07-05 15:20] Kumar6295 commented on #5
Using kubectl cp command copied some nar file to /opt/nifi/nifi-current/lib.

we try to use those processor/nar files in nifi ui. it is giving like is **processor name not known to this NiFi instance.**

After copying the files, need to execute any command?

[2021-07-05 15:43] Kumar6295 opened #155 "Additional libraries in the Nifi containers"
We are using nifi with helm chart, after created pods we copied files.

Using kubectl cp command copied some nar file to /opt/nifi/nifi-current/lib.

we try to use those processor/nar files in nifi ui. it is giving like is processor name is not known to this NiFi instance.

After copying the files, need to execute any command?

[2021-07-06 08:05] banzo commented on #155
You should probably be using mounted volumes instead of manually copying the libs: https://github.com/cetic/helm-nifi#use-custom-processors

[2021-07-06 08:54] Kumar6295 commented on #155
Thanks for reply.

[2021-07-06 08:54] #155 closed

[2021-07-07 14:24] bmgante opened #156 "Load custom nar"
I am trying to load a custom NAR using the helm chart and following the indications from readme.
However i have some doubts if after creating this properties and extra volumes how to load the nar itself. Should i manually load it to the container directrory using kubectl or is there any way to store the nar in the project and the chart automatically transfers it to the container when deploying?

[

[2021-07-08 12:09] bmgante commented on #156
I was able to get the custom processor after transferring the nar to the CUSTOM_LIB_FOLDER i´ve defined for each of cluster nifi container.
However if for some reason pod restarts, the nar does not persists. Is it possible to enable persistence as well for this purpose?

[2021-07-08 13:25] bmgante commented on #156
Indeed, not matter of the path i define for CUSTOM_LIB_FOLDER i am only able to get the custom processor available in UI if transferring the nar to the existing extensions directory:

`kubectl -n xxx cp Downloads/nifi-xxx-nar-1.0.9.nar nifi-0:/opt/nifi/nifi-current/extensions -c server  --kubeconfig=$HOME/.kube/config-files/xxx.yml
kubectl -n xxx cp Downloads/nifi-xxx-nar-1.0.9.nar nifi-1:/opt/nif

[2021-07-08 14:37] bmgante commented on #155
@Kumar6295 i am having the same problem you had. Would you pls mind to detail a bit how did you overpassed this and share your config?

[2021-07-08 14:42] bmgante commented on #156
My config:

[code]

[2021-07-08 15:48] banzo commented on #156
Some suggestions here: https://stackoverflow.com/questions/60280381/helm-bitnami-spark-how-to-load-files-to-extravolumemounts

[2021-07-08 15:51] banzo commented on #154
There are some instructions and examples here: https://github.com/cetic/fadi/blob/develop/doc/USERMANAGEMENT.md#nifi

[2021-07-09 03:43] zffocussss commented on #50
you save me

[2021-07-09 11:26] Kumar6295 commented on #155
@bmgante
we are using heketi with glusterfs for volumes.it will create volumes dyanmically.
Added some configuration in value.yaml and stateful.yaml like below
**value.yaml**

## Include aditional processors
  customLibPath: "/opt/nifi/custom-lib"
  storageClass: glusterfs

# Storage capacity for the CustomFile repository
  customLibStorage:
    size: 500Mi

**stateful.yaml**
under   volumeMounts:

[2021-07-09 11:27] bmgante commented on #154
Even following those instruction I get the same error. Nifi toolkit generates the certificates for this address and I need to reach the ui on the load balancer external address nifi.staging.xxx.net which is defined in lb config below.

From Certificate:
`DNS Name nifi-nifi-0.nifi-nifi-headless.xxx.svc.cluster.local`

Deployed services:
[code]

UI service config:
[code]

[2021-07-09 16:23] bmgante commented on #154
Was able to reach the UI with https and ldap enabled. To achieve added webProxyHost as the DNS entry and with the https port:
`webProxyHost: nifi.xxx.net:9443`

However cannot login with the admin account I´ve configured:

Error:
`Unknown user with identity 'cn=nifi,ou=AADDC Users,dc=xxx,dc=com'. Contact the system administrator.`

Logs:
[code]

But in te config I´ve ldap admin account to this nif

[2021-07-09 17:53] bmgante commented on #154
one step closer... the problem was that ldap was returning "cn=nifi,ou=AADDC Users,dc=xxx,dc=com" and I set "cn=nifi,OU=AADDC Users,DC=xxx,DC=com" and it seems to be case sensitive. After changing to lower case I was able to long with that account but only 1x, seconds after started having another kind of errors and now I am getting them all the time:

[code]

Any idea?

[2021-07-09 23:00] bmgante commented on #154
Sorry guys, the problem was the sticky session that was required to be configured on load balancer.
Now that I am able to connect with ldap users noticed that my 3 nodes cluster does not appear on UI... it shows 0... but in the backed everything seems to be working. I should be missing some configuration for sure :(

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/2735

[2021-07-10 00:20] bmgante commented on #156
Thanks @banzo. I set up custom libs path to a pvc volume and it works fine as well.

[2021-07-12 11:59] bmgante opened #157 "Cluster problems when secured/ldap"
Hello,

I was able to use this helm chart to setup a 3x nodes cluster that was working properly. Then when i tried to enable cluster secure and ldap authentication noticed that the cluster is not working properly, meaning there are 3xNifi pods deployed as expected but they are not in cluster mode, seems i have now 3 nodes in standalone. I did exactly what was mentioned in helm chart documentation

[2021-07-13 13:46] bmgante commented on #157
Hi,

Was able to put the cluster working with https and ldap.
Had to add the following code in bold to the authorizers.xml config file:
[code]

Below my values.yaml. Special mention to the isNode=true and webProxyHost where i added not only the load balancer friendly dns but also the 3x nodes internal addresses.

[code]

[2021-07-13 13:53] bmgante commented on #157
However, i have now another question... when a cluster node crashes and pod restarts for some reason it keeps in connecting mode with the error below. This error seems to be due to the fact that when pod restarted users.xml and authorizations.xml do not match with files on the remaining 2 hosts (indeed when pod restarts users.xml and authorizations.xml are generated from scratch). In order to put

[2021-07-13 15:27] bmgante commented on #157
Fixed it after changing authorizers.xml to use auth-conf persistent volume for authorizations.xml and users.xml when ldap is enabled.

[2021-07-14 09:10] banzo commented on #157
@bmgante Thank you very much for the detailed information, we will incorporate it in the documentation (unless you want to contribute in a pull request).

@AyadiAmen @zakaria2905 fyi

[2021-07-22 00:56] weltonrodrigo opened #158 "[cetic/nifi] cannot gracefully shutdown because of busybox sidecar"
Because of node offloading, I need to set a larger `terminationGracePeriodSeconds` to allow for file transfer time.

But, because of that, it becomes apparent that the busybox sidecars are preventing a graceful shutdown.

TO REPRODUCE:
[code]

Now compare this to a container correctly handling SIGTERM:
[code]

EXPECTED:
Quick termination. Busybox catches SIGTERM and the tail process is terminated

[2021-07-22 02:35] weltonrodrigo opened #159 "[cetic/nifi] Cannot admin the cluster if the ingress redirects me to a disconnected node"
STEPS TO REPRODUCE:
1. create a 2 replica cluster
2. randomly disconnect one of the nodes (on the cluster menu)
3. refresh the page until you see "Disconnected" on the top left, below nifi logo.

This is because the ingress blindly load balances between nodes of the cluster, so if you got a disconnected node, you cannot do any maintenance on the cluster.

WORKAROUND:
- just refresh the page until

[2021-07-23 12:33] zakaria2905 commented on #153
Hi,
To fix the self-signed certificates issue, we have to add the generated certificate to the browser.
To do this, we can copy the folder that contain it from the pod with this command:
- kubectl cp <the-nifi-pod>:/opt/nifi/nifi-current/conf/ <your-path>
Then, we have to add the .p12 file to the browser (the password is in the .password file).

[2021-07-23 14:21] weltonrodrigo commented on #102
I confirm the chart deploys fine without preexistent zookeeper just by indicating the url.

[2021-07-23 15:36] #102 closed

[2021-07-28 11:21] aelich opened #160 "[cetic/nifi] Any plans to support NiFi 1.14.0"
I tried to deploy it using this but struggle with it i  have problems with TLS handshake failing and request for nifi.sensitive.props.key . Or do you have any hint dow to do it?

even when i set up in 0.7.8  this safetyValue I still have an issue
[code]
![NIFI-FIX-IMPORTANT!!!](https://user-images.githubusercontent.com/41852883/127326911-b00a8647-2d5d-4f88-a14f-2478709de538.png)

I still have an i

[2021-07-29 10:16] bmgante opened #161 ""Unable to validate the access token" even with sticky session enabled"
Hi,

I am having from time to time the error:

`Unable to validate the access token.`

After crating the LB i´ve alrady changed the config to enable sticky session:
[code]

When this happens i need to restart the deployment, accept again the certificate and it will work a few more hours or days... till issues happens again. Seems that for some reason the LB sticky session is not being respected or

[2021-07-29 12:09] umar224485 commented on #156
@bmgante how did you setup custom libs path to pvc. Can you share the changes I am facing same issue

[2021-07-29 12:16] bmgante commented on #156
Just set the path for pvc in customLibPath parameter.

eg: customLibPath: "/opt/nifi/data/custom_libs"

[2021-07-29 12:58] umar224485 commented on #156
@bmgante Thanks, I have my values as below
  customLibPath: "/opt/configuration_resources/custom_lib" (this is under properties) and

extraVolumeMounts:
  - name: mycustomlibs
    mountPath: /opt/configuration_resources/custom_lib
extraVolumes:
  - name: mycustomlibs
    hostPath:
      path: /home/ubuntu/nars

I have my nar files at /home/ubuntu/nars but once I run "helm install nifi ." the nar f

[2021-07-29 13:07] bmgante commented on #156
Indeed, I am copying them manually to the PVC...

[2021-08-03 17:35] bmgante commented on #161
I did the test and setting the sessionAffinity "ClientIP" with max time 10800sec works fine for the first 24hours indeed... after that period, the access to UI is not allowed with "unable to valiate the access token".

[2021-08-04 15:41] bmgante commented on #135
Hi @balajir24 did you figure it out? i am having a similar problem trying to setup SSO via Azzure.

[2021-08-29 02:08] #130 closed

[2021-08-29 02:08] #149 closed

[2021-08-29 02:08] #90 closed

[2021-08-31 19:25] celsomarques opened #167 "Authorization issue using OIDC"
**Describe the bug**
I'm trying to config OIDC but the users.xml file doesn't reflect the auth.admin config and I'm unable to authenticate to Nifi.
Inside conf/authorizers.xml seems to be ok.

**Version of Helm and Kubernetes**:
Helm:

`version.BuildInfo{Version:"v3.6.3", GitCommit:"d506314abfb5d21419df8c7e7e68012379db2354", GitTreeState:"clean", GoVersion:"go1.16.5"}`

Kubernetes:

[code]

**What

[2021-09-02 13:56] banzo commented on #167
Related: https://github.com/cetic/helm-nifi/pull/166

[2021-09-02 17:03] celsomarques commented on #167
I recreated GKE cluster and I was not able to reproduce the issue

[2021-09-02 17:03] #167 closed

[2021-09-07 00:24] esteban1983cl opened #168 "[cetic/nifi] javax.net.ssl.SSLPeerUnverifiedException: Hostname localhost not verified"
**Describe the bug**
I'm configure this chart in secure way with ldap enabled. When I do login with admin user I get this error message:

javax.net.ssl.SSLPeerUnverifiedException: Hostname localhost not verified: certificate: sha256/QYFkCwWzDqLQUw5wstxc7y5WYKLTziIccXjX78A5gpA= DN: CN=green-nifi-nifi-0.green-nifi-nifi-headless.nifi.svc.cluster.local, OU=NIFI subjectAltNames: [green-nifi-nifi-0.gree

[2021-09-07 08:45] banzo commented on #168
#166 has some improvements for ldap/oidc but is still in progress

[2021-09-09 16:19] wbauern opened #171 "[cetic/nifi] Documented default service type is incorrect"
**Describe the bug**
The helm configuration documentation shows the default service type as NodePort not LoadBalancer.

**Version of Helm and Kubernetes**:
Helm 3.4.2
Kubernetes 1.19

**What happened**:
The default helm configuration for the UI service unexpectedly created an externally exposed ELB.  We used a configuration to setup an ingress with only internal access for the Nifi UI but were ini

[2021-09-10 11:16] #171 closed

[2021-09-10 11:20] banzo commented on #171
Many thanks for the bug report, this is indeed not a safe default.

It is now set as ClusterIP by default.

[2021-09-13 13:43] banzo opened #172 "[cetic/nifi] Add Zakaria as maintainer"
InChart.yaml: https://github.com/cetic/helm-nifi/blob/master/Chart.yaml#L15-L24

[2021-09-15 02:08] #154 closed

[2021-09-16 06:33] ratnakarreddyg opened #173 "[cetic/nifi] Unable to check Access Status"
**Describe the bug**
We have deployed NiFi on a K8S cluster but we are not able to login. When we try to login it says errors like "Unable to check Access Status. User authentication/authorization is only supported when running over HTTPS."

**Version of Helm and Kubernetes**:
Helm: v3.6.3
K8S : v1.18.8
chart: nifi-0.7.9 or nifi-0.7.8

**What happened**:
It is a new instalaltion

**What you expect

[2021-09-16 10:59] banzo commented on #173
To work around this, you can use self signed certificates.
There is some work in progress on that in https://github.com/cetic/helm-nifi/pull/170

[2021-09-20 02:11] #157 closed

[2021-09-22 08:24] zakaria2905 commented on #160
The webProxyHost environment variable has been added to the start.sh file in the apache Github with the #5226 pull request.
But the nifi docker image from apache dockerhub seems that this environment variable is not present.
I think it is because the docker image has been not updated. We have to wait the update of this image.

https://apachenifi.slack.com/archives/C0L9VCD47/p1632298380217600

http

[2021-09-24 07:36] a-nldisr opened #174 "[cetic/nifi] ca.enabled causes restart issues"
**Describe the bug**
`ca.enabled` causes issues when nifi pods need to restart

**Version of Helm and Kubernetes**:
n/a

**What happened**:
When enabling in the values.yml:
[code]
nifi pods that restart fail with `config-data` not found

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):
Enable `ca.enabled`, kill one of the nifi pods. See the error

[2021-09-27 18:29] Okanmercan99 opened #177 "[cetic/nifi] Readiness probe failed"
**Describe the bug**
When I started celtic/nifi with replicationCount=# > 1, get error "Readiness probe failed: dial tcp 172.17.0.6:8080: connect: connection refused" and pods restarting itself over and over again. I tried to increase initialDelaySeconds up to 240 sec but it not  solve the problem.

**Version of Helm and Kubernetes**:
Helm v3.6.3

**What happened**:
Pods restarting themselves and

[2021-09-28 08:08] #172 closed

[2021-10-06 02:11] #156 closed

[2021-10-16 05:21] gil0109 opened #178 "[cetic/nifi] Openshift installation sample"
Is it possible to have a sample values.yaml for simple openshift installation.  I tried to install on openshift and received lots of errors:

1. Stalls on creating the nifi-registry:
logs show:  creating nifi-registry-0 with an error of Init:CrashLoopBackOff

2. Nifi fails with:
create Pod nifi-0 in StatefulSet nifi failed error: pods "nifi-0" is forbidden: unable to validate against any security

[2021-10-20 09:43] bmgante opened #179 "Application keep alive in case of AWS NLB"
Hi all,

I have this latest helm chart in place with oidc authentication configured (Azzure SSO) and with service type NLB.
It is working fine but noticed that NiFi UI sessions are constantly expiring forcing to be always perform authentication.

After some research i found that AWS iddle timeout is set to 350sec and cannot be changed so, the option here to keep the tcp session active would be to

[2021-10-21 02:28] janesenaj opened #180 "nifi-registry ingress not working for Kubernetes >= 1.19"
Kube ingress in version >=1.19 has changed its schema from:

[code]

to

[code]

[2021-10-26 06:19] chwongeric opened #182 "nifi-registry service never respond if via k8s port-forwarding"
Dear  cetic/helm-nifi support team,

Wish to seek help to overcome this strange issue accessing nifi-registry service via k8s port-forward.  I had k8s cluster at remote so access all services UI via k8s port-forward.   However, for accessing nifi-registry via k8s port-forward, no matter what local port I use, nifi-registry service seems never respond to request, but nifi service always works.

Wha

[2021-11-03 10:00] banzo commented on #182
Hello @chwongeric, thank you for the detailed explanation. The nifi-registry chart is maintained at https://github.com/dysnix/charts, you might have more success asking there.

[2021-11-03 18:38] chwongeric commented on #182
@banzo thank you very much!  yes, this is very strange issue only via k8s port forward to remote cluster, wish me better luck for resolution there.

[2021-11-08 06:59] chwongeric commented on #182
@banzo  I just saw this:  `[cetic/nifi] kubectl port-forward: connection refused #46`
Looks like its due to Nifi listens on the PodIP, but port-forward talks to 127.0.0.1, and fixed in Chart v0.4.2 (according to @alexnuttinck ).   I think I am hitting the same in nifi-registry.
Could you please also apply similar fix for nifi-registry here?  How do I see the fix of #46?   thanks a lot!

[2021-11-08 22:59] chwongeric opened #184 "[cetic/nifi] nifi-registry - how to customize providers.xml for nifi-registry backend"
Hi cetic/nifi support team,

I am on `https://github.com/cetic/helm-nifi/tree/0.7.8` trying to configure nifi-registry backend to integrate with git or s3 as backend.  To achieve this, it require modify `providers.xml` inside nifi-registry pod from following default when deploy using this chart version.

[code]

Could you please provide anyway I can customize this file for nifi-registry when deplo

[2021-11-09 15:33] zakaria2905 opened #185 "[cetic/nifi] Nifi 1.15.0 support"
Here we will track the 1.15.0 update of Nifi.

[2021-11-09 15:35] banzo commented on #185
https://github.com/cetic/helm-nifi/pull/169#issuecomment-946695901

[2021-11-10 16:05] #160 closed

[2021-11-10 16:51] banzo commented on #173
the new release should fix that, if not have a look at the updated auth [documentation](https://github.com/cetic/helm-nifi/tree/master/doc).

[2021-11-10 16:51] #173 closed

[2021-11-10 16:53] banzo commented on #120
Hi @yardenshoham can you provide a pull request that adds this option?

[2021-11-10 16:54] banzo commented on #153
The question seems answered, there is [additional documentation on KeyCloak integration](https://github.com/cetic/helm-nifi/tree/master/doc) for the new chart version.

[2021-11-10 16:54] #153 closed

[2021-11-10 16:56] banzo commented on #168
release 1.0.0 should fix that, if not have a look at the updated auth [documentation](https://github.com/cetic/helm-nifi/tree/master/doc).

Please reopen if not.

[2021-11-10 16:56] #168 closed

[2021-11-10 16:58] banzo commented on #135
release 1.0.0 should fix some OIDC related issues, if not have a look at the updated auth [documentation](https://github.com/cetic/helm-nifi/tree/master/doc).

We are still working on AD integration so I leave the issue open

[2021-11-10 16:59] banzo commented on #101
release 1.0.0 should fix that, if not have a look at the updated auth [documentation](https://github.com/cetic/helm-nifi/tree/master/doc).

Please reopen if not.

[2021-11-10 16:59] #101 closed

[2021-11-10 17:05] ecl996 opened #187 "[cetic/nifi] question - forwarding to 8080, connection refused"
Hello,

I did a default installation of this chart and setup a port-forward to 8080, when I try to access http://localhost:8080/nifi I get an empty response and I can see that my port-forward says that the connection was refused. It appears from the nifi logs that everything is running correctly. Is there another setting I need to change to enable this?

[2021-11-10 17:09] banzo commented on #187
does this comment help? https://github.com/cetic/helm-nifi/pull/169#discussion_r716947725

[2021-11-10 17:22] ecl996 commented on #187
Ah yes all set now! It wasn't the comment per say, for some reason I must have had an older chart. I thought I did a helm update but I must not have. Running the latest nifi chart now with 1.14.0 and https. All set, thank you!

[2021-11-10 17:22] #187 closed

[2021-11-12 17:28] chwongeric commented on #184
Update: worked around with some progress but encountered next hurdle.  I had attempted to use `helm fetch cetic/nifi --untar --version 0.7.8` and locally modify `charts/nifi-registry/values.yaml ` before `helm upgrade nifi` to get my git config kicked in.  However, 1st init container of nifi-registry `git-clone` always terminated caused pod in crashloop without clear error info nor logs I can trac

[2021-11-12 20:00] erorci opened #190 "Nifi-Registry not pushing changes to the git remote repository"
Hello, I would like some guidance to figure out what needs to be changed in order to have the changes pushed to the git repository set as flow destination.

I have added as following the values.yaml:

`flowProvider:
  git:
    enabled: true
    url: git@git.internal/di-apache-nifi.git
    remote: origin
    secretName: gns-nifi-poc-registry-git-deploy`

After installed the helm chart it clones my

[2021-11-13 11:16] yardenshoham commented on #120
@banzo I'll do it if you approve the addition of [Bitnami's `common` helm chart](https://github.com/bitnami/charts/tree/master/bitnami/common) as a dependency. It provides a great utility for the `image` field rendering logic.

[2021-11-14 07:09] chwongeric commented on #184
I found the problem of above failure caused nifi-registry failed to start is due to `git-clone` container image's directory `/tmp/flow_storage` is not empty.  This likely due to container image build issue.

+ git clone https://user:passwd@bitbucket.org/dsv_developers/base_svc.git /tmp/flow_storage
fatal: destination path '/tmp/flow_storage' already exists and is not an empty directory.
+ git -C /

[2021-11-14 07:09] #184 closed

[2021-11-15 08:15] erorci commented on #190
Hi all,

I had added a  ${USER_HOME}/.ssh/config using the ssh option for the registry values, which solved my prior error messages, now I having a new one which is related to the know_hosts where the main error says **Server key did not validate**

`2021-11-15 08:07:52,750 ERROR [sshd-JGitSshClient[1e563cb8]-nio2-thread-1] o.e.jgit.internal.storage.file.LockFile Creating lock file /home/nifi/.ssh

[2021-11-15 12:09] bmgante opened #191 "NiFi registry"
Hi,
I am using chart 0.7.8 and registry is enabled.
However i am not able to connect via http to the regitry url (http://nifi-registry.xxx.net:80, where xxx stands for internal domain) Can someone provide some guidance on how to access registry webpage?

nifi-registry values.yml below

`# Default values for nifi-registry.
# This is a YAML-formatted file.
# Declare variables to be passed into your

[2021-11-15 15:30] erorci commented on #190
I was able to fix using the changes made in https://github.com/dysnix/charts/pull/112

[2021-11-15 15:30] #190 closed

[2021-11-15 20:56] yossisht9876 opened #192 "[cetic/nifi] web UI not loading"
**Describe the bug**
trying to run nifi on eks version 1.19 all the pods are running and i can see in the logs that the server is up and running.
im using NGINX with aws internal load balancer.
web UI is under HTTPS so the url will be https://nifi.xxx.xx.com

**Version of Helm and Kubernetes**:
helm 3
eks version 1.19

**What happened**:
 the web UI is not loading and i cant override the nifi.prop

[2021-11-17 12:22] leshibily commented on #192
Same thing for me. I have a similar setup where I use ingress to expose Nifi Web UI and it shows exactly the same error you have.
I even tried `kubectl port-forward service/nifi 8443:8443` and navigated to https://localhost:8443 only to get the following error:
`An error occurred during a connection to localhost:8443. PR_END_OF_FILE_ERROR`

It used to work when we had HTTP endpoints though.

[2021-11-17 12:47] yossisht9876 commented on #192
right i have the same errors , do we have the option to add white listed hosts to nifi?
i saw users that use NIFI_WEB_PROXY_HOST in order to white list hosts to nifi but it not working for me , i can add it to the pods via env vars but its not adding the hosts to the white list.

any other ideas ?
thanks

[2021-11-17 14:44] banzo commented on #192
Does this comment help?

https://github.com/cetic/helm-nifi/pull/169#discussion_r716947725

[2021-11-17 14:48] Idan-Maimon commented on #192
Same here,
installing the chart on Openshift, getting same error page.

System Error
The request contained an invalid host header [nifi-nifikop.apps.tk2s6gya.eastus.aroapp.io] in the request [/]. Check for request manipulation or third-party intercept.
Valid host headers are [empty] or:
127.0.0.1
127.0.0.1:8443
localhost
localhost:8443
[::1]
[::1]:8443
nifi-1.nifi-headless.nifikop.svc.cluster.loca

[2021-11-17 15:59] leshibily commented on #192
After adding the following, I was able to get the UI working with `kubectl port-forward` command. However, when I try to expose it via an ingress controller, I still get the same error. Any help, folks?

[2021-11-17 18:09] yossisht9876 commented on #192
the web UI works for me after adding this:

 nginx.ingress.kubernetes.io/upstream-vhost: "localhost:8443"
    nginx.ingress.kubernetes.io/proxy-redirect-from: "https://localhost:8443"
    nginx.ingress.kubernetes.io/proxy-redirect-to: "https://nifi-domain.com"

    to the ingress configuration.

[2021-11-17 19:39] leshibily commented on #192
Can you output the Nifi ingress rule in YAML here?:
`kubectl get ingress <ingress-name> -n <namespace-name> -o yaml`

Note: You may hide the Nifi URL if it's confidential.

[2021-11-18 06:54] yossisht9876 commented on #192
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    meta.helm.sh/release-name: nifi-helm
    meta.helm.sh/release-namespace: nifi-helm
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/configuration-snippet: |

[2021-11-18 06:59] yossisht9876 commented on #192
the ui works now but every time that I try to click on something on the UI, it send me away to the login page with the error:

[code]

[2021-11-19 08:38] raefezzeldin commented on #101
I have deployed certmanager  and after that i generated a tls certificate and the cluster is now secured using https

[2021-11-20 09:10] leshibily commented on #192
@yossisht9876 this workaround first actually routes to https://nifi.example.com/nifi.example.com and then automatically routes to https://nifi.example.com/nifi. I don't think this is the right workaround.

Can some look at this issue on priority?

[2021-11-20 16:53] pietrogerace1994 opened #195 "[cetic/nifi] issue title"
Hello I am facing some problems running this project on Openshift 4.7.
Here there is the log I get in the console

`updating nifi.remote.input.host in /opt/nifi/nifi-current/conf/nifi.properties`
`updating nifi.cluster.node.address in /opt/nifi/nifi-current/conf/nifi.properties`
`updating nifi.zookeeper.connect.string in /opt/nifi/nifi-current/conf/nifi.properties`
`updating nifi.web.http.host in

[2021-11-21 07:43] Premfer commented on #192
Hi @banzo, I am installing the Nifi cluster using the latest release as a LoadBalancer service (by changing the type as LoadBalancer in values.yml) , but I am getting the same error as above when trying to access the UI. Can you please help what need to be done. I have also added the properties as mentioned in the comments in safetyValve properties.

Also I am not sure what need to be set in webpr

[2021-11-21 13:40] yossisht9876 opened #196 "Unable to communicate with NiFi"
nifi version 1.14.0

the web ui is loading fine but when trying to add processors or any other option, it throw the user out with the error:

[code]

[2021-11-21 14:05] banzo commented on #195
please provide the required information [asked in the issue template](.github/ISSUE_TEMPLATE/bug_report.md)

[2021-11-21 14:07] banzo commented on #196
this looks the same as described in #192

[2021-11-22 11:23] pietrogerace1994 commented on #195
I was able to solve the first problem. It was caused by a missing properties `nifi.sensitive.props.key`.
Still the server container is not able to start. This is my stacktrace

`2021-11-22 11:19:38,271 INFO [main] org.eclipse.jetty.server.Server Started @47867ms
2021-11-22 11:19:38,273 WARN [main] org.apache.nifi.web.server.JettyServer Failed to start web server... shutting down.
org.apache.nifi.w

[2021-11-22 13:45] #196 closed

[2021-11-22 13:50] yossisht9876 opened #197 "http>>>https -- Mixed Content"
At the moment NiFi works and I can access it via the ingress host.

look like a Mixed Content issue - some of the "urls" are still in http and nifi is on https so i get  "Mixed Content" error

The problem is that I can't configure any processor at all. Every time, when I click on "configure" I get this error:

Unable to communicate with NiFi
Please ensure the application is running and check the l

[2021-11-22 13:55] yossisht9876 commented on #192
@leshibily
i edit my ingress output - please try if it works for you

[2021-11-22 21:01] JoaquinPretell92 opened #198 "Problem deploying Nifi"
Hello,

I'm trying to deploy Nifi in a GCP Kubernetes Enviroment with the default values.yaml on the repository (only change user and passsword settings).
I running the next command:
kubectl apply-f nifivalues.yaml and i get the next error:

![image](https://user-images.githubusercontent.com/73810312/142934407-a0173e00-d857-436b-a8da-f3f91472706f.png)

It tell me to add a apiversion and a kind, so

[2021-11-23 11:19] leshibily commented on #192
That did not work as well. I got the error.

`Unable to validate the access token.`

[2021-11-25 11:41] Idan-Maimon commented on #178
Hi,
Any updates ?
Did you managed to have Nifi working on OpenShift ?

[2021-11-25 12:07] murilolobato commented on #197
I'm facing the same problem, even when using the oficial docker image alone.

[2021-11-25 12:40] asiriwork opened #199 "[cetic/nifi] Invalid host header issue"
Helm version: v3.5.2
Kuberntes version: v1.20.4
nifi chart version: latest : 1.0.2

I"m trying to connect to nifi UI deployed in kubernetes.

I have set  following properties in values yaml
[code]

  # Enables additional port/ports to nifi service for internal processors

10.0.39.39 - is the kubernetes masternode internal ip.

When nifi get started i get follwoing

  `WARNING: Kubernetes configura

[2021-11-25 13:15] murilolobato commented on #192
Hi, I was facing the same errors and couldn't tell if they were on the helm chart or at NiFi.

I've deployed a simple nifi using the base docker image from dockerhub, https://hub.docker.com/r/apache/nifi/ .

Then, I've setup a minimal ingress for testing and faced the first problem:

[code]

I fixed this first problem, with the following `nginx.ingress.kubernetes.io/backend-protocol` annotation:

[2021-11-25 16:12] yossisht9876 commented on #192
@murilolobato hi,
did it fix the ```Unable to communicate with NiFi
Please ensure the application is running and check the logs for any errors.

because i got the same issue

[2021-11-25 16:26] gil0109 commented on #178
Only partially with a modified dockerfile for NIFI.  I am hoping the person I was working with will have his pull request to fix the current apache dockerfile submitted and approved.

My biggest issue right now is that Openshift manages the SSL layer at the edge but Nifi requires SSL on to enable OIDC.  I haven't figured out how to tell NIFI to that we have a proxy already with openshift.

[2021-11-25 16:46] #198 closed

[2021-11-26 10:35] thanhhaiduong opened #200 "[cetic/nifi] Can't create cluster with helm charts"
Hell,
I want create cluster with helm charts, but I get error.
somebody helm me?

[2021-11-29 12:34] Premfer opened #201 "Extra Volumes for Nifi CLuster"
Hi,

we are running nifi cluster with 3 replicas in k8s. we want a path ( volume in nifi statefulsets ) so this volume can me mounted in our pods for further processing of nifi outputs. Can you please let know what can be done and the steps? Thanks

[2021-11-29 13:01] banzo commented on #201
Hi, it looks like you could use something similar to what is done for [custom processors](https://github.com/cetic/helm-nifi#use-custom-processors) but maybe the chart needs to be adapted also.

[2021-11-29 13:54] Premfer commented on #201
Hi @banzo , thanks for the reply, upto my understanding this volume is added from host path while installing, but the cluster is up and running. can we add volumes now?

[2021-11-29 14:12] banzo commented on #201
I'd be surprised if you can keep the existing data automagically.
Maybe try in a minikube to check how helm update behaves?

[2021-11-29 14:24] Premfer commented on #201
Sure @banzo , Can we have this in pipeline for feature to add extra pvc volumes by the charts because the path may be shared with other microservicr pods in different namespace for further processing of Nifi's output.

[2021-11-30 02:24] thanhhaiduong commented on #200
I want setup 3 pod nifi with helm chart on k8s. I want authen with Singeruser.
But I can't see cluster on nifi even though set properties with isNode: true.
how?

[2021-11-30 03:22] thanhhaiduong commented on #200
![image](https://user-images.githubusercontent.com/72290204/143980061-795bfe90-7bc3-4649-8910-c53aba4b0da3.png)
My logs: [Process Cluster Protocol Request-18] o.a.n.c.p.impl.SocketProtocolListener Failed processing protocol message from nifi-1.nifi-headless.nifi.svc.cluster.local due to Received fatal alert: certificate_unknown

[2021-12-01 03:45] thanhhaiduong commented on #201
do you have running cluster with authen? and version 1.14.0?

[2021-12-01 14:06] Idan-Maimon opened #202 "[cetic/nifi] Need more info about Nifi toolkit"
Hi Team,

Im working lately on your chart to implement on Redhat Openshift.
I need your assistance to understand what the nifi toolkit does in your chart, will it automatically generate certificates or its something I should create manually / automatically as part of my CD process.

thanks !

[2021-12-06 15:23] ElfoLiNk commented on #200
Does anyone knows why this is happening?

![Screenshot 2021-12-06 at 16 23 01](https://user-images.githubusercontent.com/1236551/144872920-5d5808db-e27e-4ddc-8313-6af75fa77e37.png)

[2021-12-06 15:39] OlehKovalchyn commented on #200
@ElfoLiNk it's via LDAP? Describe please how you deploy nifi and which components did you use.

[2021-12-06 16:53] ElfoLiNk commented on #200
Hi @OlehKovalchyn i'm deploying it with the helm chart with traefik as ingress and keycloak oidc

[2021-12-10 16:49] leshibily commented on #192
@murilolobato the nifi URL is redirecting to https://localhost:8443. Do you have any idea? Any help would be appreciated.

[2021-12-10 17:55] erorci opened #203 "[cetic/nifi] After deployed a new cluster cannot upload a template or or add processors"
Hi all,

I need some assistance to try to understand why after deployed a new cluster  whether a I try to upload a template or add processors the nifi returns **Unable to locate group with id "xxxxx-xxxx-xxxxx-xxxxxx"** .

Please let me know which kind of details I can provide that help me to find out a solution for this issue.

Part of my values are :

[code]

Please let me know which kind of det

[2021-12-10 19:18] leshibily commented on #199
I am having a similar issue.

@banzo Can we expect a fix anytime soon?

[2021-12-11 11:29] murilolobato commented on #192
Hi @leshibily ,

I think you are facing the second problem I mentioned. You should check the annotations section of your ingress definition, and ensure you set-up the correct settings according to my example and most important, according to the NiFi System Administrators guide.

If you have already set the same annotations, ensure that the ingress controller you are using does support the annotati

[2021-12-11 14:50] leshibily commented on #192
Please find my nifi ingress rule configuration below.

`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/configuration-snippet: |-
      proxy_set_header X-ProxyScheme 'https';
      proxy_set_header X-ProxyPort '443';
    nginx.ingress.kubernetes.io

[2021-12-13 11:35] leshibily commented on #200
@ElfoLiNk  can we have a Nifi cluster when the auth is singleUser?

[2021-12-14 10:49] shuhaib3 commented on #192
@leshibily hi, were you able to fix this?

[2021-12-15 14:19] shuhaib3 opened #204 "Ingress keycloak issue"
Hi,
i have successfully installed and configured nifi secured cluster on Kubernetes and using oidc authentication. am using Ingress to access the nifi and when i try to acess nifi am getting the keycloak login page but after the username and password is submitted it is not redirecting properly.
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: n

[2021-12-16 15:10] luismarqu3s commented on #103
Hi @drivard ,

You will need to enable ca:

[code]

BR

[2021-12-16 16:12] #103 closed

[2021-12-16 16:47] shuhaib3 opened #205 "This node is currently not connected to the cluster."
![image](https://user-images.githubusercontent.com/57085593/146413229-b951d61f-0091-4185-ab78-1146bbb9747b.png)

am getting like this in my UI. i have setup 3 replicas secured cluster and am using oidc authentication enabled.

below is the warning am getting
WARN [Process Cluster Protocol Request-8] o.a.n.c.p.impl.SocketProtocolListener Failed processing protocol message from nifi-0.nifi-headless.

[2021-12-16 16:49] shuhaib3 commented on #200
@thanhhaiduong were you able to fix this issue.

[2021-12-16 16:50] shuhaib3 commented on #205
@banzo can you please help here

[2021-12-17 03:33] thanhhaiduong commented on #200
not yet, can you help me?

[2021-12-17 11:25] zakaria2905 commented on #192
The main problem is that Nifi did not support the NIFI_WEB_PROXY_HOST (webProxyHost in values.yaml file) environement variable in 1.14.0 version.

Could you please try by using this pull request: #206 .

The ingress has also been updated.

[2021-12-17 12:26] valentindudnik opened #207 "[cetic/nifi] Use Appach Nifi JVM memory settings by default"
**Is your feature request related to a problem? Please describe.**
I want to use default JVM memory settings but I can't to use it for now, because these settings specified strictly:
# JVM memory settings
java.arg.2=-Xms{{.Values.jvmMemory}}
java.arg.3=-Xmx{{.Values.jvmMemory}}

**Describe the solution you'd like**
{{ if .Values.jvmMemory }}
    java.arg.2=-Xms{{.Values.jvmMemory}}
    java.arg.3=

[2021-12-20 18:10] wknickless opened #208 "[cetic/nifi] nifi property settings broken if not using LDAP or OIDC"
**Describe the bug**

NiFi properties cannot be set unless LDAP or OIDC is turned on.

**Version of Helm, Kubernetes and the Nifi chart**:

First appears in chart version 1.0.2 with pull request #169.

**What you expected to happen**:

Using this values setting:

[code]
...would result in NiFi being configured with that property set.

**What happened**:

The statefulset and (and therefore pods) ha

[2021-12-20 22:10] erorci opened #209 "NiFi 1.14 is not enabling cluster"
Hello all,

I have been trying to deploy on a new k8s cluster and I only get the nodes working as single mode, the cluster option is not enabled in Nifi. Also when checking the NiFi properties it shows isNode false.

Any idea what needs to be changed?

Kind regards,

Emerson

[2021-12-21 12:31] leshibily opened #211 "Persistent volumes not used when LDAP or OIDC are enabled"
Hello folks,

I would like to educate myself here on why persistent volumes like `data, auth-conf, config-data, flowfile-repository` etc are not mounted (volumeMounts) when `ldap` or `oidc` are not enabled. See `statefulset.yaml` snippet below.

[code]

But volumes are attached when `persistence.enabled` is `true`.

[code]

I am really confused here. Any help would be appreciated.

Versions:
Nifi:

[2021-12-21 13:42] leshibily commented on #211
I have also noticed `nifi.properties` config map is not used when `ldap` or `oidc` aren't enabled.

[code]

[2021-12-21 15:00] leshibily commented on #192
@zakaria2905 I tried adding the NIFI_WEB_PROXY_HOST using the following but I am still getting the `invalid host header` error in the `values.yaml`

env:
  - name: NIFI_WEB_PROXY_HOST
     value: "nifi.test.example.com"

error:
`The request contained an invalid host header [nifi.test.example.com] in the request [/nifi]. Check for request manipulation or third-party intercept.`

[2021-12-21 15:18] leshibily commented on #208
I have the same issue #211 .

[2021-12-21 18:19] wknickless commented on #208
@leshibily I concur that your #211 is a duplicate of this issue.  I've just started work this morning and first on my list is to fix both our issues and provide a pull request.  I'll be sure to mention that here and tag you.

[2021-12-21 20:07] leshibily commented on #208
Thank you. Appreciate it.

[2021-12-21 21:43] zakaria2905 commented on #192
@leshibily , after pulling PR #206 , I only modify the following lines in `values.yaml` file:
[code]
In addition, I enable the minikube ingress addon `minikube addons enable ingress`
I also set my `/etc/hosts` file by adding the minikube IP address and the domain name (nifi.test.local)

And it works

[2021-12-21 21:48] zakaria2905 commented on #199
https://github.com/cetic/helm-nifi/issues/192#issuecomment-996648726

https://github.com/cetic/helm-nifi/issues/192#issuecomment-999113241

[2021-12-22 03:04] wknickless commented on #208
@leshibily A few minutes ago I pushed a series of commits.  The last one was https://github.com/wknickless/helm-nifi/commit/09bc37f12ed3ade380f5893fa3e897c16cd7c5c9 and it restores safetyValve and singleUser to operation.

I don't know if I've broken LDAP or OIDC--or anything else--but at least there are now github actions defined that verify those two things are working.

[2021-12-22 08:49] kavndu commented on #199
Hi @zakaria2905 Can your deployed Nifi connect with a remote agent like Apache MiNifi? Did you try it?

[2021-12-22 12:07] banzo commented on #207
@valentindudnik thanks for the information, would you be willing to make a [pull request](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request) with those changes?

[2021-12-23 07:06] kavndu commented on #199
Hi @zakaria2905 I tried exactly what you did. But I'm still having Invalid host header issue.

[2021-12-23 22:27] wknickless opened #213 "[cetic/nifi] NOTES.txt assumes LoadBalancer, not default ClusterIP Service"
**Describe the bug**
templates/NOTES.txt describes how to find the public IP address of the NiFi UI, assuming it is using a LoadBalancer service.  But the default values.yaml file sets up a ClusterIP service.

**Version of Helm, Kubernetes and the Nifi chart**:

Helm 3, Kubernetes v1.20.2, chart v1.0.2

**What happened**:

The output of a successful ```helm install``` prints out instructions for f

[2021-12-24 02:18] #195 closed

[2021-12-30 12:46] Sarankrishna opened #214 "Unable to set "Initial User Identity""
I am trying to set the "Initial User Identity" in authorizers-empty.xml file in the configs folder of my workload. and installed the nifi using the below command. It does not take the authorizers-empty.xml from my local machine as it uses a chart from cetic helm chart repository.

The file authorizers-empty.xml has john as "initial user identity". I would like to change the initial user identity t

[2021-12-30 17:11] luismarqu3s opened #215 "[cetic/nifi] oidc not working using v0.6.4"
**Describe the bug**
UI is not answering

**Version of Helm, Kubernetes and the Nifi chart**:
Helm: v0.6.4
Kubernetes: v1.20.2
Nifi: 1.12.1

**What happened**:
UI is not answering

**What you expected to happen**:
UI answering

**How to reproduce it** (as minimally and precisely as possible):
configurations used on values.yaml file:
[code]

Inspect the pod, check the "Events" section at the end fo

[2021-12-30 17:56] leshibily commented on #208
@wknickless I pulled this commit and deployed this in my gke cluster and worked fine. However, when I try to scale nifi replicas to more than 1, I get the following error on the UI.

`Unable to validate the access token.`

See my values.yaml file:

[code]

I use an external zookeeper(confluent) and it's deployed within the same cluster.

[2021-12-30 18:00] kavndu commented on #199
@asiriwork You can try the branch named develop instead of master. I could be able to overcome this error by using develop branch.

[2021-12-30 18:37] digitalshuffler commented on #114
Hello, i found this issue closed and im getting the exact same error trying to configure ldap

Here is a values.yaml to reproduce it.
[code]

[2022-01-02 08:26] Sarankrishna commented on #205
I am also having the same issue. Can anybody help to fix this issue?

[2022-01-02 15:17] wknickless commented on #205
Just created https://github.com/wknickless/helm-nifi/blob/pnlo/2-way-cluster/tests/05-2-way-cluster-values.yaml and have replicated the problem.  At startup app-log reports:

[code]

Pretty sure this means the intra-cluster TLS setup is broken.

[2022-01-02 15:24] wknickless opened #216 "[cetic/nifi] cert-manager intra-cluster TLS certificate support"
Support [cert-manager](https://cert-manager.io/docs/) management of intra-cluster TLS certificates for secure mode.

**Is your feature request related to a problem? Please describe.**

Issues #207 (and duplicate #209) report that multi-node NiFi clusters are not starting.  Looking at app-log shows:

[code]

This is consistent with the creation of TLS certificates for intra-cluster communication be

[2022-01-03 08:32] digitalshuffler opened #217 "[cetic/nifi] TLS Toolkit not generating a valid JKS when activating ldap"
**Describe the bug**
When trying to deploy nifi with ldap configuration it throws an error saying that the JKS generated by tls-toolkit.sh is not valid and it refuses to start

**Version of Helm, Kubernetes and the Nifi chart**:
kubernetes v1.19.11
helm Nifi Chart version: 1.0.2

**What happened**:
Nifi falls into a crashLoopBack error
Attached full stack trace:
[code]

**What you expected to happ

[2022-01-03 14:26] arunbabumm commented on #199
@kavndu I have followed the develop branch values.yaml getting this error. Any idea.
Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Service.spec.ports[0]): missing required field "port" in io.k8s.api.core.v1.ServicePort

[2022-01-04 06:35] arunbabumm commented on #192
HI ALL, I am installing the Nifi cluster as a LoadBalancer service but getting below error.

Any update on the issue.

System Error
The request contained an invalid host header [10.121.2.105:8443] in the request [/nifi]. Check for request manipulation or third-party intercept.
Valid host headers are [empty] or:
127.0.0.1
127.0.0.1:8443
localhost
localhost:8443
[::1]
[::1]:8443
nifilb-0.nifilb-head

[2022-01-04 17:47] mbaron2 commented on #200
Hello @thanhhaiduong ,
Could wou give some details of your implementation ? I would create a nifi cluster with this helm but it's doesn't work.

Thanks

[2022-01-06 14:15] guimou commented on #178
Hi! If you are still interested, here is some wip for Nifi 15.0 deployment on OpenShift. It's part of a manifest work for OpenDataHub (ODH). I created custom container images that are now 100% compatible with OpenShift, based on ubi8 containers/OpenJDK 11. So no need for SCCs any more, ownership taking, blabla,...
- Custom images are created from this fork/branch, in the same locations as the orig

[2022-01-06 16:32] gil0109 commented on #178
Thank you @guimou I will give it a try ;)

[2022-01-07 08:23] digitalshuffler commented on #217
Hello, we got any revision?

We need some help whit this issue.

[2022-01-08 03:03] uqix opened #219 "[cetic/nifi] support configuring different storageClassName for each PVC in statefulset"
**Is your feature request related to a problem? Please describe.**

With each PVC using the same `storageClassName`, the PVC and PV bindings were wrong after deleting the helm release and reinstalling it.

**Describe the solution you'd like**

Add value option like `.Values.persistence.(logs|config-data|etc.).storageClass` with `.Values.persistence.storageClass` as default.

**Describe alternative

[2022-01-10 08:36] #208 closed

[2022-01-10 08:36] #211 closed

[2022-01-10 08:36] #213 closed

[2022-01-10 08:58] banzo commented on #215
@luismarqu3s does the problem still occurs with the newest chart version?

[2022-01-10 09:00] banzo commented on #217
@digitalshuffler can you reproduce the problem with the new release?

[2022-01-10 09:04] banzo commented on #214
@Sarankrishna the new version of the chart allow you to set that in the values file, can you confirm?

[2022-01-10 09:06] banzo commented on #214
@zakaria2905 we need to update USERMANAGEMENT.md according to the new way things works (authorizers.xml vs authorizers-empty.xml)

[2022-01-10 12:18] banzo commented on #185
Some details on Log4shell vulnerability and Apache Nifi: https://exceptionfactory.com/posts/2021/12/14/evaluating-log4shell-and-apache-nifi/

[2022-01-10 12:45] Sarankrishna commented on #214
@banzo  I am using the branch feature/nifi_1.15.0. I don't find a way to set Initial User Identity in values.yaml file.  I will test with the master branch and let you know.

[2022-01-10 15:36] anshurajkaushik commented on #217
@banzo : i am facing the same problem with the latest release ,below is my values.yaml

[code]

[2022-01-10 15:41] digitalshuffler commented on #217
I get up nifi now but seems to drop a warn constantly
¿It's something that we should care? seems like failed requests due to certificates
[code]

[2022-01-10 15:45] digitalshuffler commented on #217
@anshurajkaushik your issue seems related to oidc configuration, not ldap

[2022-01-10 17:39] anshurajkaushik commented on #217
@digitalshuffler  @banzo  : ok i get past the initial issues , but still seeing the `-nifi.svc.cluster.local due to Received fatal alert: certificate_unknown`.  issue
@digitalshuffler  : are your nodes connected in cluster ?
and also  `Untrusted proxy CN=localhost `.
any suggestions ?

[2022-01-10 19:26] leokhachatorians opened #220 "[cetic/nifi] login-identity-providers-ldap has hardcoded `searchFilter` value"
**Describe the bug**
When attempting to pass in a custom `searchFilter`, the config file `login-identity-providers-ldap.xml`  has it currently hard-coded to be `(cn={0})`. This was seemingly changed in https://github.com/cetic/helm-nifi/pull/107.
 https://github.com/cetic/helm-nifi/blob/cb3f5c09d3389dcfba6d9d595ab80481aa6719f3/configs/login-identity-providers-ldap.xml#L86

**Version of Helm, Kuber

[2022-01-11 00:18] wknickless opened #221 "[cetic/nifi] sensitiveKey configuration parameters undocumented"
**Describe the bug**
The ```properties.sensitiveKey``` and ```properties.algorithm``` configuration parameters are not documented.

**Version of Helm, Kubernetes and the Nifi chart**:

Helm 3.2.4, Kubernetes 1.20, NiFi chart 1.0.4

**What happened**:

Searched the ```README.md``` file for ```sensitive``` but could not find it.

**What you expected to happen**:

Find documentation on the ```propert

[2022-01-11 01:11] gil0109 commented on #178
@guimou Is your solution cluster enabled?  I can't seem to enable it on myside without lots of errors..

[2022-01-11 01:35] guimou commented on #178
Yeah, sorry about that. I'm still making some changes, fighting with nodes
that sometimes join the cluster, sometimes not. I'm still trying to figure
this out.
With 3 nodes for example, sometimes (rarely) I end up with a full cluster,
but almost always with a 2-node cluster alongside a 1-node cluster. With
the exact same configuration, restarting every time from scratch.
Everything seems to be con

[2022-01-11 11:01] a4tarasiuk opened #222 "[cetic/nifi] authorizations.xml is not updated from configmap (1.0.0)"
**Describe the bug**
After installation, user is not able to authorize. Unknown identity error. After chart installation, `conf/authorization.xml` does not have information about users. `usersGroupProvider` section does not contain k8s user, and admin user that is set in `values.yaml`.
Everything works fine on 0.7.8 version. I think that something wrong with volumes, because in previous version of

[2022-01-11 15:04] pawankbh opened #223 "Nifi Registry Pod is getting into crashbackloop"
--
[root@hpecp-k1 helm-nifi]# kubectl get pods
NAME                      READY   STATUS             RESTARTS   AGE
nifi-0                    4/4     Running            1          3m14s
nifi-registry-0           0/1     CrashLoopBackOff   4          3m14s
nifi-zookeeper-0          1/1     Running            0          3m14s
nifi-zookeeper-1          1/1     Running            0          3m14s
nifi-

[2022-01-11 16:21] mgerba commented on #223
That is because the default nifi-registry is configured to connect to a postgres database that doesn't exist or is specified.

Default values.yaml nifi-reegistry:  lines125-132
  postgres:
    enabled: true
    driverURL: https://jdbc.postgresql.org/download/
    fileName: postgresql-42.2.6.jar
    driverClass: org.postgresql.Driver
    url: jdbc:postgresql://localhost/nifireg
    username: nifire

[2022-01-11 16:48] mgerba opened #224 "[cetic/nifi] Unable to enable secure clustering with CA issued Certs"
I have been reading the current comments and I am not finding an answer to my problem. When the CA is set to enabled the config has no references to pull in the certificats from the CA by default. Is there a reason this doesn't exist. I appreciate the framework you have created.  The nifi nodes continue to generate their own certificates and keystone/trust stores.

`2022/01/11 16:11:38 INFO [main]

[2022-01-12 11:25] arunbabumm commented on #192
HI All,
There is workaround for this issue.
Once yaml deployed, you have to edit statefulset and add env value
  - name: NIFI_WEB_PROXY_HOST
     value: "nifi.test.example.com".
 Please let us know if this workaround fix your UI loading issue.

[2022-01-12 16:56] banzo commented on #224
Can you check this is not related to #218? If not we will label this as a bug.

[2022-01-12 19:58] mnp commented on #185
The above linked nifi-8784 was resolved in July and upstream Nifi is up to 1.15.2 now.  I'm wondering what is left to support it?

[2022-01-13 19:23] mnp opened #226 "[cetic/nifi] HTTP is mentioned in the README but appears inconsistently supported"
**Describe the bug**
The Readme mentions properties.httpPort.  It looks partially supported in the readiness probe for the statefulset, the safety valve, etc.,  but HTTPS is assumed in many places with no branching for HTTP.

The README, values, STS, and Service should probably be clarified and aligned on HTTP.

**Version of Helm, Kubernetes and the Nifi chart**:

1.0.4

**What happened**:

Experi

[2022-01-13 22:36] mnp commented on #182
Probably not stale. Still seeing in latest.

[2022-01-17 09:10] digitalshuffler commented on #217
I found a solution after needing to modify and fix the chart.

There was 2 things: After the new release, nifi goes up with ldap but when activating HA mode, there is no communication between nodes.

This is caused because toolkit is generating a diferent certificate/key for every pod, so a way to solve it is to generate a unique jks shared by a persistent storage.

Also, the FQDN generated to be

[2022-01-17 15:26] guimou commented on #178
OK, here it is finally, fully tested and documented: https://github.com/guimou/odh-manifests/tree/nifi/nifi
It is normally meant to be used as a KfDef for Open Data Hub or Kubeflow, but you can use it directly with Kustomize:
* Edit the file `parameters.env` in the base folder according to your needs (mainly the authentication type)
* From the right overlay, depending on what you want to do, use `

[2022-01-17 17:49] anshurajkaushik commented on #217
@digitalshuffler  : can you attach your values.yaml also , i am still seeing Untrusted proxy CN=localhost .

[2022-01-17 18:19] gil0109 commented on #178
@guimou   Thanks, will give it a shot, now to learn kustomize ;)

from the overlays/oidc folder, the kustomize build shows the configs, now to figure out how to change the namespace and deploy it ;)

[2022-01-17 18:37] guimou commented on #178
@gil0109
OK, quick recipe then:
- in the base folder, edit kustomization.yaml and change the namespace parameter for the name you want
- in the same folder, edit params.env to enter what you need depending on what you want to do
- go into the folder you want, base or one of the overlays, like oidc, and just do `oc apply -k .`
It will deploy everything in the right namespace.

[2022-01-17 18:52] gil0109 commented on #178
@guimou   Are you on slack or teams?  I would love to chat more.. here is the error I am getting

gillani@NE023769:~/git/odh-manifests/nifi/overlays/oidc$ oc apply -k .
error: couldn't make target for ../../base: json: unknown field "envs"

But using kustomize build displays fine ..

[2022-01-17 22:16] valentindudnik commented on #207
Hi @banzo, yes of course, I want to create pull request.

[2022-01-19 08:58] digitalshuffler commented on #217
@anshurajkaushik
Make sure that your tls-toolkit is generating this way and your nifi.web.https.host is equal to the pod name:

[code]

[2022-01-19 12:41] #221 closed

[2022-01-21 21:18] weltonrodrigo commented on #209
Can someone confirm which commit introduced this?

I really need to work in a cluster. Does someone knows a workaround?

[2022-01-26 13:11] weltonrodrigo commented on #223
This is caused by a bad default on nidi-registry chart. This has already been fixed on last version 0.3.8. https://github.com/dysnix/charts/blame/e060e8e62269996731cd7b4a5dd87cbfd4e90587/dysnix/nifi-registry/values.yaml#L126

[2022-01-27 21:40] mgerba commented on #224
Update with new bug and solution.

The use case is to run a secured cluster with oidc authentication.  #218 enables secure clustering, but when OIDC is added it causes errors because of the changes tot he authorizers.xml file.

The first issue is the numbering scheme. NiFi requires unique "Initial User Identity 1" , "Initial User Identity 2", ect

The existing statefulset.yaml file creates an auth

[2022-02-01 10:09] banzo commented on #185
@mnp if you only need single user auth and no clustering, you can probably test what was done in #206.

If not, you can have a look at #218, maybe it is just a matter of changing the nifi image version to 1.15.3 in the config.

[2022-02-01 13:24] mnp commented on #185
Thank you @banzo. I will look.

[2022-02-02 19:27] DavidHache opened #228 "[cetic/nifi] Make functional on AWS EKS"
**Is your feature request related to a problem? Please describe.**
**Feature Request:**  I am trying to get this helm deployment working on EKS.   I have AWS customers that would like to run a production ready Nifi but have minimal infra experience.  EKSCLT + this helm chart seems to be a winning solution if it's production ready.

**Describe the solution you'd like**
I would like to create an "AW

[2022-02-04 15:29] bmgante opened #229 "java 11"
Hello,
I am using this helm chart with nifi 1.12.1 and would like to know if it is possible to use java 11 instead java 8 and how to do that.
Also, would like to know if you are aware of any limitation when using java 11 for this nifi version.

Thanks

[2022-02-04 15:57] gforeman02 opened #230 "[cetic/nifi] Users and Authorizations not persisted"
**Describe the bug**
The users.xml and authorizations.xml files were previously persisted to the "auth-conf" directory.  PR #169 changed this to the "conf" directory.

**Version of Helm, Kubernetes and the Nifi chart**:
helm: v3.5.1
kubernetes version: v1.20.5
cetic/nifi release: master

**What happened**:
On uninstall/install of chart, all users/permissions reset to default.  Persistence is enabl

[2022-02-04 16:16] banzo commented on #85
More information at https://issues.apache.org/jira/browse/NIFI-9188

Java 11 is a release goal for NiFi version 2.0

[2022-02-04 18:59] cnoelle commented on #85
Meanwhile, as a quick and dirty workaround, one could provide a custom extension of the official image by installing Java 11 into the container and removing Java 8. This adds more layers to the image and probably makes it considerably larger than it would need to be, though.

Here is what the Dockerfile could look like:

[code]

[2022-02-06 14:10] #230 closed

[2022-02-14 17:42] ilyesAj commented on #192
@arunbabumm NIFI_WEB_PROXY_HOST is ignored in 1.14.0 , what we did instead is to change it directly in the properties section and we added also some annotation in ingress, the final values.yaml will be:
[code]
k8s version: v1.20.13
chart version: 1.0.5
nifi version: 1.14.0

[2022-02-15 14:06] bmgante opened #232 "Use external CA instead of nifi-ca"
Hi,
Does this helm support to install an external valid certificate (full chain) in a secure cluster instead of having to user nifi-ca which will always throw security warnings on browser?
If yes, would you mind to provide some guidance?

Thanks

[2022-02-16 02:19] #203 closed

[2022-02-16 11:36] banzo commented on #229
duplicate of #85

[2022-02-16 11:36] #229 closed

[2022-02-19 00:12] catalin-berestean commented on #185
Hi guys, small question: were can I download the NiFi chart with the 1.15.2 image already in ? because as the latest contains the 1.14.0 NiFi image

[2022-02-21 12:55] banzo commented on #232
@bmgante there might be some info on that in #218

[2022-02-21 14:20] bmgante commented on #232
Hi @banzo what about generating the certificate externally and just import/install it on NiFi nodes without using nifi-ca? Is it possible?

[2022-02-22 19:01] gforeman02 opened #235 "[cetic/nifi] client certificate only authentication fails"
**Describe the bug**
Client Certificate authentication (only) does not work as expected.

I deployed from the master branch with the following settings:

[code]

The deployment fails to start.  Snip of the stack trace:

[code]

The statefulset.yaml file needs another block to allow client certificate only authentication.  This change enabled the server to start:

[code]

Overall, it seems that it

[2022-02-22 19:17] gforeman02 opened #236 "[cetic/nifi] add startup probe"
**Is your feature request related to a problem? Please describe.**
On systems with limited resources, the Nifi server container can take longer than usual to fully initialize.  This leads to restarting the container while Nifi is starting.

**Describe the solution you'd like**
Have a way to configure in values.yaml the amount of time to permit the Nifi server container to start via a startup probe

[2022-02-23 02:21] #204 closed

[2022-02-23 14:47] gforeman02 commented on #232
@bmgante, this was how I was able to get clustered Nifi working with an external CA.

values.yaml settings:

[code]

Note: The config.json file should have keyStorePassword, keyPassword, and trustStorePassword set.

[code]

[2022-02-23 18:02] bmgante commented on #232
Hi @gforeman02
Thanks so much for your input. So if i understood it properly:
1. Disable nifi-ca on values.yaml
2. Update sts.secrets, properties.isNode and properties.safetyValue accordingly to your post;

How do you transfer admin.crt, admin.key and config.json to the pods? Can you provide an example of your config.json (without credentials)?

Thanks again for your support.

[2022-02-23 18:29] gforeman02 commented on #232
@bmgante all the files can be posted as a kubernetes opaque secret:
[code]

The config.json is just:
[code]

[2022-02-23 19:25] bmgante commented on #232
@gforeman02 the secret object will be automatically generated by helm chart if configured sts.secret, is that right? After that should i run that command "kubectl create secret generic..."? Indeed not understood how the secret object will have the cert, key and config.json files inside if not transferred manually.

I am just giving my first steps with kubernetes, sorry for these questions :)

[2022-02-24 20:23] gforeman02 commented on #185
@banzo: could you clarify the status of this ticket?  I can do a PR for incrementing to 1.15.3 but did not know if that was on hold for some reason.

[2022-02-28 15:29] gforeman02 opened #237 "[cetic/nifi] offloadNode TLS and proxiedEntity settings"
**Describe the bug**
The offloadNode method in statefulset re-calculates TLS settings instead of using values already set in nifi.properties.  In cases where safetyValve is used to override TLS settings, offloadNode calls fail because the TLS settings do not align.

Additionally, proxiedEntity values containing spaces do not appear to work via the command line parameters.

**Version of Helm, Kuber

[2022-03-01 16:07] gforeman02 opened #239 "[cetic/nifi] pod stops only after terminationGracePeriodSeconds exceeded"
**Describe the bug**
When a pod in a cluster is triggered to stop, the offload node process can take some time to complete.  Increasing the terminationGracePeriodSeconds to 600 provides enough time for the server container to complete offloading with a generous buffer (in my environment).  While the Nifi server container does stop, the sidecar containers continue to run.  The result is the pod doe

[2022-03-02 07:09] weltonrodrigo commented on #239
I believe this is a duplicate of #158.

This is caused by log tailer sidecars, which for some reason refuse to quit on SIGTERM. I investigated that but could not found a quick solution.

Maybe we need other software besides tail, which respects SIGTERM. tail seems to ignore it when running in the `+F` mode.

[2022-03-02 07:18] weltonrodrigo commented on #158
This thread is related to the same subject: https://github.com/moby/moby/issues/7846

[2022-03-03 12:33] pawankbh opened #241 "[cetic/nifi] issue title Nifi is deployed successfully. but unable to access nifi UI."
Nifi is deployed successfully. but unable to access nifi UI.

![image](https://user-images.githubusercontent.com/87305889/156565524-1adeb231-b6a2-474f-b363-cbb8cb485759.png)

[2022-03-03 12:35] pawankbh commented on #241
![image](https://user-images.githubusercontent.com/87305889/156565770-9860bd61-af8c-4133-aaf2-007b2f917eda.png)

[2022-03-03 18:52] gforeman02 commented on #241
@pawankbh try adding `10.124.13.73:8443` (including port) to properties.webProxyHost value.

[2022-03-05 23:10] bugslifesolutions commented on #232
@bmgante Did you make any progress with your approach?

[2022-03-06 21:27] bmgante commented on #232
Not yet, I was hoping @gforeman02 could confirm if he has created a secret.yaml to include in the helm chart or if he just created the secret object manually only after that deploying the chart.

[2022-03-09 15:21] bmgante commented on #111
Is there some improvement to support istio?

[2022-03-09 15:38] bmgante commented on #232
I have been trying but i struggled understanding how to generate the following objects to put them after in the k8s secret:

-   nifi-0.nifi-headless.{{ .Release.Namespace | quote }}.svc.cluster.local.jks
-   nifi-1.nifi-headless.{{ .Release.Namespace | quote }}.svc.cluster.local.jks
-   nifi-2.nifi-headless.{{ .Release.Namespace | quote }}.svc.cluster.local.jks
-   truststore.jks
-   admin.crt
-

[2022-03-09 22:44] makapszenna commented on #226
Is it possible to enable HTTP instead of HTTPS? I have problems setting up ingress right now. Thanks for the answers.

[2022-03-10 01:48] gforeman02 commented on #232
@bmgante I addressed your original question.  The admin.crt/admin.key are client certificates but are not required -- you can omit them.  Information for creating a truststore file containing your CA and the keystores is readily available online.

[2022-03-10 19:15] mnp commented on #226
It /sounds/ like upstream [supports HTTP and HTTPS , but not both at once](https://nifi.apache.org/docs/nifi-docs/html/administration-guide.html#security_configuration) but I think someone needs to do the legwork to configure it using this helm. Hopefully a maintainer can confirm.

[2022-03-10 23:28] palex351 commented on #226
Workaround:

[code]

[2022-03-11 00:08] wknickless opened #244 "[cetic/nifi] OIDC test unreliable"
**Describe the bug**
The OIDC test is unreliable.  Sometimes it fails for no reason.

**Version of Helm, Kubernetes and the Nifi chart**:
Helm 3, Kubernetes 1.20, master branch at https://github.com/cetic/helm-nifi/commit/3ae6387a0d98d4c6e48be692e3fd82a8e55de34d

**What happened**:
Sometimes the OIDC login test fails, even when the process running in the Kubernetes job succeeds.

**What you expect

[2022-03-11 12:51] bmgante commented on #232
Hi @gforeman02
Thanks for your help on this. I was almost able to configure the secret with the keystore and trustore.
However i have now a different issue related to the internal names of nodes. While my certificate name is "nifi.namespace.xxx.net" (dns of load balancer to access webui), seems that the internal names of pods need to be included in the certificate as alternative names.

- nifi-0.n

[2022-03-11 14:18] gforeman02 commented on #232
@bmgante contact Sectigo.

[2022-03-11 18:26] bmgante commented on #232
@gforeman02 cluster.local is not really possible to get sectigo to certify cluster.local domain indeed, i´ve already confirmed.
Just wondering if you are aware of any other approach or workaround that could be done to address this limitation.
Thanks

[2022-03-14 02:27] #200 closed

[2022-03-14 16:27] wknickless opened #247 "[cetic/nifi] Tune offload and node deletion"
As of release v1.0.4 of this chart, at Pod termination time NiFi will be signaled to offload all the local data to the other nodes and to delete that node from the NiFi cluster.  This is required when a NiFi node is not using data persistence and/or the Statefulset is being scaled down.

**Is your feature request related to a problem? Please describe.**
There are some updates to a NiFi multi-node

[2022-03-15 03:32] weltonrodrigo commented on #247
@wknickless thanks for your support!

Actually, what I'm seeing here seems like an error, as the shutdown scripts exits prematurely with an error message (https://github.com/cetic/helm-nifi/pull/218#issuecomment-1056428024)

The tailer pods proper termination is a godsend, as without it (and having set a big terminationGracePeriodSeconds to address node offloading), every operation took forever to

[2022-03-15 13:32] #223 closed

[2022-03-15 13:34] #236 closed

[2022-03-15 13:47] #237 closed

[2022-03-17 21:57] #232 closed

[2022-03-17 22:15] bmgante opened #248 "Upgrade to nifi 1.13"
Hi,
I am using helm chart v0.7.8 with nifi 1.12.1 and would like to upgrade to 1.13.2.

Does anyone know if some changes need to be done at helm chart level or if it's just a matter of changing tab from 1.12.1 to 1.13.2 and all the rest should work properly? Wondering if there are any mandatory parameters required to be set for 1.13.2.

Note: I know there are more recent versions but upgrade to 1.

[2022-03-21 14:13] pawankbh opened #249 "[cetic/nifi] Unable to configure authentication for nifi-registry"
I have deployed nifi and nifi registry on kubernetes environment. I have configured nifi with authentication. Could you please let us know how to configure authentication for nifi-registry

[2022-03-21 18:31] wknickless commented on #249
Hi @pawankbh you might consider asking that question over at https://github.com/dysnix/charts/tree/main/dysnix/nifi-registry .  That's the upstream for the NiFi Registry chart included in this chart.

But to provide some hope, I focused my time last week finishing off the cert-manager and OIDC NiFi helm chart tests and support so I could turn my attention to ensuring that NiFi Registry also has te

[2022-03-22 02:42] #182 closed

[2022-03-23 02:45] #215 closed

[2022-03-25 13:12] lfreinag commented on #191
So this is an old thread but I had the same problem and found this other issue open at the nifi-registry chart.

https://github.com/dysnix/charts/issues/111#issuecomment-968679223

You basically want to add these two lines inside the values.yaml file. Per default it just has extraEnvs: [] (almost towards the end of the values.yaml file you posted)

[code]

Another piece of advice, doing an upgrade

[2022-03-25 19:16] wknickless commented on #191
@lfreinag I've started working on extending the dysnix nifi-registry chart to operate in secure mode using cert-manager and OIDC (to go along with the work I did here in #218): https://github.com/wknickless/dysnix-charts/tree/nifi-registry/feature/cert-manager-oidc  This is a work in progress; it currently starts NiFi Registry in secure mode with the correct certificates but I haven't yet got the

[2022-04-04 02:53] #209 closed

[2022-04-12 14:19] karanmankar95 opened #250 "[cetic/nifi] Helm Test command returns Test Suite None"
**Is your feature request related to a problem? Please describe.**
I am new to Helm and I tried to run helm test <release-name> which returned Test Suite: None. Is there any documentation for how to run the tests in test directory on a deployed release?

**Describe the solution you'd like**
Please add documentation on how to run unit tests on a deployed release or when the release is being deploye

[2022-04-13 19:16] wknickless commented on #250
@karanmankar95 The tests I've written, and show up in the tests/ directory, are intended to run as GitHub actions, not Helm tests.  My intent was to protect against regressions in the chart itself, not to verify that any particular release is operating correctly.

[2022-04-19 08:33] zakaria2905 commented on #224
@wknickless could you please check this before the PR #218 review ?

[2022-04-21 02:58] fzhan commented on #241
This should be a dynamic value since a new pod would use a new IP address.

What's the most effective way?
https://community.cloudera.com/t5/Support-Questions/NiFi-1-5-System-Error-Invalid-host-header/td-p/195175

[2022-04-21 02:58] fzhan commented on #241
This should be a dynamic value since a new pod would use a new IP address.

What's the most effective way?
https://community.cloudera.com/t5/Support-Questions/NiFi-1-5-System-Error-Invalid-host-header/td-p/195175

[2022-04-21 12:42] lfreinag commented on #209
I don't know if this helps but I modified the nifi.properties:

[code]

And on my values.yaml file I have:

[code]

The Connection String obeys the following format: <pod_name>.<service-name>.<namespace>.svc.cluster.local:2181

I manage at least to get a cluster with one node running. Still trying to figure out how to add the second node though.

<img width="1872" alt="Screenshot 2022-04-21 at 14

[2022-04-21 12:46] lfreinag commented on #205
I don't know if this helps but I modified the nifi.properties:

[code]

And on my values.yaml file I have:

[code]

The Connection String obeys the following format: <pod_name>.<service-name>.<namespace>.svc.cluster.local:2181

I manage at least to get a cluster with one node running. Still trying to figure out how to add the second node though.

<img width="1872" alt="Screenshot 2022-04-21 at 14

[2022-04-21 16:36] wknickless commented on #241
@fzhan `properties.webProxyHost` should be set to the name(s) you expect your users to type into their web browser.

For example, see https://github.com/wknickless/helm-nifi/blob/feature/cert-manager/tests/07-oidc-cluster-values.yaml , where `properties.webProxyHost` is set to the DNS name of the Ingress that fronts the NiFi cluster.

[2022-04-21 16:46] wknickless commented on #205
@lfreinag multi-NiFi-node support is broken in the current version of the chart (v1.0.4).  If you're willing to try using cert-manager in your Kubernetes cluster, you might try the branch in pull request #218.

[2022-04-21 16:59] wknickless commented on #224
@mgerba wrote: "With the two changes to the statefulset.yaml file and the values file below, I was able to deploy a NiFi 3 node cluster secured with kyecloak authentication using ingress for each service and cert manager for the nifi certificates and sucsessfully log in."

@zakaria2905 that's exactly what the test named "OIDC (cluster, Ingress, cert-manager local issuer)" confirms as working.

[2022-04-22 10:41] Premfer opened #252 "[cetic/nifi] Node address of the nodes in the cluster"
Hi,

When we create nifi cluster with nodes, the node address of the node is in the format of service address like nifi-0.nifi-headless.cuttle-nifi.svc.cluster.local. I am trying to register a node from different system. this is for the hybrid model we are trying to achieve between on prem and cloud. On doing POC for it, i encountered the node is trying to send heart beat to the primary node. but

[2022-04-22 16:42] wknickless commented on #252
@Premfer all your NiFi nodes must keep their Kubernetes cluster internal hostnames and DNS names.  To provide external access for users and site-to-site connections you'll use a Kubernetes Ingress.  See https://github.com/wknickless/helm-nifi/blob/feature/cert-manager/tests/07-oidc-cluster-values.yaml for an example of how that's configured.

(This example comes from Pull Request #218 which hasn't

[2022-04-24 16:25] Premfer commented on #252
Hi @wknickless  Thanks for the reply.

Can you please elaborate how we change ingress for a single node. I am accessing the UI through istio ingress gateway. can you please let me know i can u use that here.

Thanks,
Deva

[2022-04-25 16:14] wknickless commented on #252
@Premfer NiFi clusters seem to work best when all the NiFi nodes are provisioned identically, with open connectivity between them.  We recently had a situation where some of our NiFi pods were running on Kubernetes nodes with older CPUs, and the overall NiFi performance was compromised because some of the NiFi nodes weren't processing data at the same rate.  When you configure a NiFi processor you

[2022-04-25 17:39] jjjedlicka commented on #249
I am having the same issue.  The configuration seems to go into an authorizers.temp file, but never makes it into the authroizers.xml and thus doesn't work.  Not sure why its doing this or how to get it to push the configuration over to the xml file.

[2022-04-25 18:13] wknickless commented on #222
@jjjedlicka you might try the version I've submitted under PR #218 ; it includes GitHub action tests that confirm the initial admin can be used.  And leave a comment about how it works for you, whether it works or fails.  If that works for you, please let @banzo and @zakaria2905 know over at the comment section of PR #218 so they can feel more comfortable merging it.  Or if it doesn't work for you

[2022-04-25 18:48] jjjedlicka commented on #222
@wknickless we are using version: 1.0.6, appVersion: 1.14.0.  I am somewhat new to helm, but it looks like the check-in is the cert manager branch.  How do I pull in a branch that is not part of the helm application version or available chart versions?

[2022-04-25 21:05] wknickless commented on #222
@jjjedlicka you should be able to do something like:

[code]

[2022-04-26 12:05] wielkiborsuk commented on #220
Also
https://github.com/cetic/helm-nifi/blob/cb3f5c09d3389dcfba6d9d595ab80481aa6719f3/configs/login-identity-providers-ldap.xml#L68
seems hardcoded, even though:
https://github.com/cetic/helm-nifi/blob/ceca5ad379bac51ac18ff383efef6bbfb3eb7ac2/values.yaml#L122
this suggests the strategy is configurable

[2022-04-28 12:53] lfreinag commented on #205
Hi @wknickless. So I have tried your branch now and I managed to make it work on our cluster. I hade to use these settings to make it work:

[code]

I got some problems with the volume attachments but not really sure if that is my cluster or some configuration on the helm chart. Have you heard of this before?

multi-NiFi-node is still not working but I know why now. The chart needs to assign diffe

[2022-05-04 02:04] wknickless commented on #249
@pawankbh pull request https://github.com/dysnix/charts/pull/199 provides OIDC and Client Certificate authentication support, and includes and end-to-end test with NiFi based on pull request #218 here.

[2022-05-10 16:52] twinklekumarp commented on #47
Hi, any updates for this issue? We are also looking for something with cluster monitoring

[2022-05-10 17:58] wknickless commented on #47
@RabbidDog @appunni-dishq @fzalila @webdevops-admin @twinklekumarp I don't think this is a NiFi or Helm chart issue.  Whenever you see something like ```Multi-Attach error for volume "pvc-366c853a-2e59-4443-a1bd-0f8a7d9c2d51" Volume is already exclusively attached to one node and can't be attached to another``` it means Kubernetes can't provide the pod access to the persistent data it wants.

When

[2022-05-13 14:02] kyouch opened #253 "[cetic/nifi] OIDC Untrusted proxy CN=localhost, OU=NIFI"
Hello,

I'm trying to use OIDC with this chart and have been failing getting the error Untrusted proxy CN=localhost, OU=NIFI after successful login in Keycloak.

I noticed that when i use `helm template nifi-dev .` it spills this:
OBS: I removed all the `` for better visualization
[code]

But after I deploy the chart, enter the pod, enter the container "server" and finally `cat /conf/authorizers.x

[2022-05-13 17:09] kyouch commented on #253
I'm trying to see all kinds of logs and trying to figure it out.
The logs from the container "user-log" is as follows:
[code]

[2022-05-13 17:13] wknickless commented on #253
@kyouch OIDC does not work with the current released chart (v1.0.4).  Pull request #218 is ready for merging and includes OIDC support and testing.

[2022-05-13 17:26] kyouch commented on #253
@wknickless Thank you for your response, I will pull your PR and provide feedback.

[2022-05-13 19:27] kyouch commented on #253
@wknickless Thank you, thank you so much. I've advanced like I've never have before.
But, not everything is roses.
I've deployed Keycloak, CA from the helm-nifi chart and CM from your Pull Request.
I could login in nifi normally with my Initial Admin, but then I created an account in Keycloak and in Nifi with the same email, added the user to a group and added some policies to that account.
Then I

[2022-05-13 20:07] wknickless commented on #253
@kyouch LOL I've done exactly the same thing!  I'm still learning what each of the NiFi policies do, and have locked myself out of key NiFi functions several times.  The lesson I took was to keep the Initial Administrator account untouched and in reserve until everything is fully functional for a different account.

[2022-05-13 20:31] kyouch commented on #253
@wknickless haha, that's amazing. I've never used Nifi before and took an assignment to migrate everything (and update nifi version) to GKE in GCP. Been going crazy with all the new stuff that been happening and thank you very much for your work, you did an incredible job.
What was happening was exactly policies, been sniffing around and been doing just fine after giving correct permissions. I tha

[2022-05-13 20:35] wknickless commented on #253
@banzo @zakaria2905 I've added this to the list of issues that will be resolved by merging #218.

[2022-05-14 18:39] kyouch commented on #253
@wknickless heey, I've got some other problem and thought about asking you if you could help me find a path.
I've setup CA and CM with your PR and using OIDC with Keycloak.
And then I'm trying to use https://github.com/Chaffelson/nipyapi to login and do stuff programatically, and I keep getting: `DEBUG:nipyapi.nifi.rest:response body: Username/Password login not supported by this NiFi.` when I try

[2022-05-15 05:39] congtranminh opened #254 "[cetic/nifi] Cannot connect more than one node to cluster"
**Describe the bug**
I used helm to install nifi cluster via the command

Here is the pod running after I ran the command
![image](https://user-images.githubusercontent.com/3800509/168458857-f48f3d4e-1cd9-4be1-a3ca-c1c4a0a3b4bf.png)

But when I go through the nifi cluster config, I only see 1 node
![image](https://user-images.githubusercontent.com/3800509/168458816-af9cadfe-604e-4dc0-993b-c941ad5f

[2022-05-15 17:26] #47 closed

[2022-05-16 18:53] wknickless commented on #254
@congtranminh Thank you for providing such a succinct helm command.  When I ran it I saw these errors in the app-log container log:

[code]
This happens when the NiFi cluster doesn't have its PKI certificates set up.  That's what PR #218 can help provide via cert-manager.

[2022-05-25 09:04] congtranminh commented on #254
Thank you @wknickless. I'll follow your PR. Right now, I made some customs from the source to disable the SSL and the cluster connect successfully.

[2022-05-26 01:04] wknickless commented on #249
@pawankbh my PR was merged and the official NiFi Registry Helm chart with the fix is available at https://github.com/dysnix/charts/releases/tag/nifi-registry-1.0.0 .

[2022-06-02 14:05] andyadamides opened #256 "[cetic/nifi] Zookeeper dependent helm chart version no longer exists"
**Describe the bug**
It looks like Zookeeper Helm Chart version [used](https://github.com/cetic/helm-nifi/blob/master/Chart.yaml#L30) (`5.23.0`) in this Chart no longer exists:

[code]

Anybody else seeing this?

[2022-06-02 14:33] #254 closed

[2022-06-02 18:12] wknickless commented on #230
@lquinonesp did you set persistence.enabled=true ?  It's not the default, and if you don't set it to true then you'll see this behavior.

[2022-06-02 23:58] wknickless commented on #256
@andyadamides @banzo I've updated the chart versions for zookeeper and registry in PR #218 .

[2022-06-06 03:08] #248 closed

[2022-06-06 16:58] wknickless commented on #230
@lquinonesp I'm sorry - I forgot I had to fix this.  Thank you for following up!  This commit in PR #218 resolves that problem: https://github.com/wknickless/helm-nifi/commit/2874d6722d60c1a6da5977ad7e35f9ac1de97f44

[2022-06-06 17:02] wknickless commented on #230
@lquinonesp Just to make sure we haven't missed a corner case that you're running into, which authentication/authorization system are you using?  SingleUser, OIDC, LDAP, ... ?

[2022-06-06 17:21] lquinonesp commented on #230
@wknickless I am using OIDC.

[2022-06-06 17:46] lquinonesp commented on #230
Do I need to wait for the PR to close or do I need to apply a different nifi or chart version?

[2022-06-13 11:49] #214 closed

[2022-06-13 11:51] #244 closed

[2022-06-14 09:49] feder89 opened #257 "[cetic/nifi] Currently apache Nifi version is affected by vulnerability of log4j"
**Describe the bug**
As stated in [Nifi ](https://nifi.apache.org/security.html#CVE-2021-44228) official website, NiFi docker images behind 1.15.3 tag are affected by vulnerability of log4j

**Version of Helm, Kubernetes and the Nifi chart**:
Helm version : v3.3.4, k8s version: v1.20.7, NiFi chart version: 1.0.4

**What happened**:
NiFi cluster inherits this vulnerbility

**What you expected to ha

[2022-06-18 00:09] wknickless commented on #230
@lquinonesp you can wait until #218 is merged and 1.1.0 is released.  Alternatively, you help by trying it in your environment and letting us know if it works or breaks for you.

You can try #218 by doing something like:

[code]

[2022-06-20 18:32] gforeman02 commented on #257
@feder89 there was some movement on the issue in #185 but it appears to have not made any traction.  I would also like to see as officially part of the chart.  We overrode in values.yaml.  Additionally, we also upgraded the Zookeeper chart to align with Zookeeper 3.8.0.

[2022-06-20 22:10] gforeman02 opened #258 "[cetic/nifi] multiple issues"
I wanted to raise the following concerns/issues to make sure they are being raised/tracked/resolved:

- circleci is reporting failed builds
- github actions are reporting test failures
- chart release is v1.0.4 on README.md on github, but v1.0.6 is the latest version of the chart on artifacthub.io
- #218 has a significant amount of changes.  is the goal to have a major release?  if so, is that rel

[2022-06-21 07:57] #256 closed, assigned to nobody

[2022-06-21 09:08] banzo commented on #258
It should be ok now, I had to bump Helm version in the Circle-CI publish script, and the Zookeeper chart version in the dependencies.

This is fixed now.

It is ok now, we are at 1.1.0

I just merged it, feel free to provide feedback. Next steps are your two remaining PRs. If the rebase goes fine, it should be quick.

I do not think the project has a position on cve criticality but I'll raise the

[2022-06-21 09:08] #258 closed

[2022-06-21 09:09] banzo commented on #257
@gforeman02 feel free to propose a PR with the upgraded NiFi version.

[2022-06-21 09:14] #249 closed

[2022-06-21 09:15] #252 closed

[2022-06-21 11:07] gforeman02 commented on #258
@banzo thank you for the response and resolving the issues.  re: cve, nifi 1.16.1 + zookeeper 3.8.0 is working well for my client.

[2022-06-21 13:27] gforeman02 commented on #257
@banzo i am working on a pr

[2022-06-27 21:35] #158 closed

[2022-06-27 21:47] #235 closed

[2022-06-27 22:18] #135 closed

[2022-06-27 22:42] #180 closed

[2022-06-27 22:54] banzo commented on #191
@wknickless I am not very familiar with those dark corners of the chart.

[2022-06-27 22:57] banzo commented on #134
marking this as stale since the above mentioned PR has been closed.

[2022-06-28 03:26] #241 closed

[2022-06-28 15:19] lfreinag opened #261 "[cetic/nifi] cert-manager not correctly generating the ca.cert"
**Describe the bug**
When trying the new cert-manager I get the following error.

`/opt/nifi/nifi-current/tls/truststore.jks is not readable! Waiting for cert-manager sidecar to populate it.`

**Version of Helm, Kubernetes and the Nifi chart**:
[code]

[code]

NiFi chart version: `1.1.1`

**What happened**:
I tested the new cert-manager configuration but the nifi pods are failing to start as the c

[2022-06-28 15:45] wknickless commented on #261
@lfreinag X.509 Common Names have a hard length limit of 64 characters.  (See https://docs.digicert.com/manage-certificates/public-certificates-data-entries-that/).  It looks like you're using a Helm installation name of ```nifi-cluster```, which means the Common Name would work out to something like ```nifi-cluster-0.nifi-cluster-headless.default.svc.cluster.local```, which is 63 characters.  Any

[2022-06-28 15:49] wknickless commented on #261
@lfreinag You can also confirm the certificates were generated correctly by cert manager by (e.g.):

* ```kubectl get secret nifi-cluster-ca -o json | jq -r '.data."tls.crt"' | base64 -d | openssl x509 -text -noout```
* ```kubectl get secret nifi-cluster-0 -o json | jq -r '.data."tls.crt"' | base64 -d | openssl x509 -text -noout```

[2022-06-29 11:27] lfreinag commented on #261
Hello!
Thanks for the quick answer. Here I paste my outputs. I am thinking that my cert-manager version might be the one responsible for this problem 🤔 I am still using v1alpha2 😬 I don't get the secrets but I will look into that and update you here 😉

[code]

[code]

[code]

[code]

[2022-06-29 21:59] wknickless commented on #261
@lfreinag looks like your Common Name nifi-cluster-0.nifi-cluster-headless.nifi-cluster.svc.cluster.local is 67 characters long, which is beyond the limit of 64 characters.  That's at least one of the reasons why cert-manager isn't issuing a certificate, and therefore isn't populating the secret.  You may need to choose shorter Helm deployment and/or namespace names to get those Common Names down

[2022-06-30 13:46] lfreinag commented on #261
So I have corrected the Common Name problem. You addressed that twice but I missed the first one. Sorry for that. Anyhow that did not solve my problem for now so I will be upgrading cert-manager. Thanks for the script but I am running cert-manager as a sidecar. I will update you once I manage to upgrade that 😉 Thanks for the help!

[2022-07-01 12:58] lfreinag commented on #261
So I now installed from scratch v1.0.0 for cert-manager and it is working like a charm! 🎉 Thanks for your support here. Great to see that multi cluster node setup is working too.

I am closing the issue. Have a nice weekend!

[2022-07-01 12:58] #261 closed

[2022-07-01 19:32] forry2 opened #262 "[cetic/nifi] CONNECTION_REQUEST marshal problems in 2 NiFi instances cluster"
Hi, I tried my best to run a 2-instances cluster but the second NiFi instance does not join the cluster. app-log shows a HEARTBEAT marshal problem. Please find my values.yaml (renamed as values.txt) file attached to this issue.

Failed marshalling 'CONNECTION_REQUEST' protocol message due to: javax.net.ssl.SSLHandshakeException: PKIX path validation failed: java.security.cert.CertPathValidatorExce